{#
    Пополнить счет
    @var \yii\web\View this
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block title %}{{ this.registerTitle('Пополнение счета - Личный кабинет | Сдаём.ру') }}{% endblock %}

{% block bodyClass %}p-payment{% endblock %}

{% block header %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Пополнить счет',
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}
    {{ use('common/modules/merchant/widgets/frontend/fastpayment/assets/FastPaymentAsset') }}
    {{ register_fast_payment_asset() }}

    <div class="section-head section-head-between">
        <h2>Пополнить счёт</h2>
    </div>

    <div class="payment">

        {% set form = active_form_begin({
            'id' : 'form-pay',
            'options' : {'class' : 'payment-form'},
            'enableClientScript' : false
        }) %}

            {% set field = form.field(model, 'amount') %}
            {{ field.begin() | raw }}
            <label class="payment-label" for="paymentSum">Сумма пополнения в рублях</label>
            {{ html.activeTextInput(model, 'amount', {'class' : 'form-control', 'id' : 'paymentSum', 'value' : 999999.99}) | raw }}
            {{ field.end() | raw }}

            <p class="payment-title">Выберите способ оплаты:</p>

            <ul class="payment-list">
                <li class="payment-item">
                    <input type="radio" class="payment-input" id="banksRF" name="pay-way-logo" data-system="BankCardPSR">
                    <label class="payment-method" for="banksRF">
                        <span class="payment-img">
                            <img src="/_new/images/payment/bank-cards.png" class="visa-logo" alt="Bank Cards RF">
                        </span>
                        <span class="payment-name">
                            Карты РФ
                        </span>
                    </label>
                </li>  
                <li class="payment-item">
                    <input type="radio" class="payment-input" id="yMoney" name="pay-way-logo" data-system="">
                    <label class="payment-method" for="yMoney">
                        <span class="payment-img">
                            <img src="/_new/images/payment/ymoney.png" class="visa-logo" alt="Юmoney">
                        </span>
                        <span class="payment-name">
                            Юmoney
                        </span>
                    </label>
                </li>                   
                <li class="payment-item">
                    <input type="radio" class="payment-input" id="qiwi" name="pay-way-logo" data-system="Qiwi40PS">
                    <label class="payment-method" for="qiwi">
                        <span class="payment-img">
                            <img src="/_new/images/payment/qiwi.png" class="visa-logo" alt="Qiwi">
                        </span>
                        <span class="payment-name">
                            Qiwi
                        </span>
                    </label>
                </li>                  
                <li class="payment-item">
                    <input type="radio" class="payment-input" id="unionPay" name="pay-way-logo" data-system="">
                    <label class="payment-method" for="unionPay">
                        <span class="payment-img">
                            <img src="/_new/images/payment/unionPay.png" class="visa-logo" alt="UnionPay">
                        </span>
                        <span class="payment-name">
                            UnionPay
                        </span>
                    </label>
                </li>                  
                <li class="payment-item">
                    <input type="radio" class="payment-input" id="withoutData" name="pay-way-logo" data-system="">
                    <label class="payment-method" for="withoutData">
                        <span class="payment-img">
                            <img src="/_new/images/payment/without-data-pay.png" class="visa-logo" alt="Without data entry">
                        </span>
                        <span class="payment-name">
                            Без ввода данных
                        </span>
                    </label>
                </li>  
                <li class="payment-item">
                    <input type="radio" class="payment-input" id="otherMethods" name="pay-way-logo" data-system="">
                    <label class="payment-method" for="otherMethods">
                        <span class="payment-img">
                            <img src="/_new/images/payment/cards.png" class="visa-logo" alt="Other methods">
                        </span>
                        <span class="payment-name">
                            Другие способы
                        </span>
                    </label>
                </li>              
            </ul>

            <button class="btn-orange" type="submit">
                Пополнить
            </button>

        {{ active_form_end() | raw }}

    </div>

{% endblock content %}
