{#
    Черный список
    @var \yii\web\View this
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block title %}Черный список - Личный кабинет | Сдаём.ру{% endblock %}

{% block header %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Черный список',
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ use ('chat/assets/ChatAsset') }}
    {{ register_chat_asset() }}
    <a href="{{ path(['/office/dialogs']) }}" class="control-link user-settings-item">
        Все сообщения
    </a>
    <div class="section-head section-head-between">
        <h2>Чёрный список</h2>
    </div>

    <ul class="user-list clearfix">
        {% for userList in dataProvider.models %}
            <li>
                <div class="user">
                    <div class="face">
                        <div class="avatar">
                            {{ use('nepster/faceviewer/Widget') }}
                            {{ widget_widget({
                                'template' :  '{face}',
                                'data' : {
                                    'avatar_url' : userList.interlocutor.profile.avatar_url,
                                },
                            }) }}
                        </div>
                        {% if userList.interlocutor.isOnline() %}
                            <div class="online">В сети</div>
                        {% endif %}
                    </div>
                    <div class="extra">
                        <div class="name">{{ UserHelper.getUserName(userList.interlocutor) }}</div>
                        <div class="settings-nav clearfix">
                            <span class="settings control"></span>
                            <ul>
                                <li><span class="settings bookmark" data-interlocutor="{{ userList.interlocutor.id }}"
                                          data-type="bookmark" title="В избранное"></span></li>
                                {#
                                <li><span class="settings blacklist" data-interlocutor="{{ userList.interlocutor.id }}" data-type="blacklist" title="Заблокировать"></span></li>
                                #}
                                <li><span class="settings remove" data-interlocutor="{{ userList.interlocutor.id }}"
                                          data-type="remove" title="Удалить"></span></li>
                            </ul>
                        </div>
                        <a class="btn btn-orange"
                           href="{{ path({0 : '/messages/default/view', 'interlocutorId' :  userList.interlocutor.id }) }}">Написать</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if dataProvider.models is empty %}
        <div class="alert alert-info mt-4">
            Список пуст.
        </div>
    {% endif %}

    {{ use ('yii/widgets/LinkPager') }}
    {{ link_pager_widget({'pagination' : dataProvider.pagination}) }}

{% endblock content %}
