{#
    Купить рекламу
    @var \yii\web\View this
    @var \common\modules\partners\models\AdvertisementForm advertisementForm
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block title %}Реклама | Сдаём.ру{% endblock %}

{% block bodyClass %}p-top-slider{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Доска объявлений',
                    'url': ['/partners/default/index'],
                },
                {
                    'label': 'Реклама',
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block sidebar %}
    {% if app.user.identity.profile.user_type != constant('\\common\\modules\\users\\models\\Profile::WANT_RENT') %}
        {{ this.render("@common/modules/office/views/frontend/layouts/services.twig") | raw }}
    {% endif %}
{% endblock %}


{% block content %}
    {{ this.registerMetaTag({'name' : 'description', 'content' : ''}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : ''}) }}

    {{ use('common/modules/partners/assets/frontend/AdvertisementAsset') }}
    {{ register_advertisement_asset() }}


    <div class="section-head section-head-between">
        <h2>Разместить рекламное объявление</h2>
    </div>

    <div class="top-slider container-certain primary text mt-4">

        <div class="top-slider-descr">
            Для того, чтобы разместить рекламное объявление, Вам необходимо заполнить данную форму и оплатить
            <b>{{ app.getModule('partners').priceAdvertisement }} рублей</b>. <br/>
            Всего в рекламном блоке доступно <b>{{ app.getModule('partners').amountAdvertisements }} объявлений</b>, Вы
            становитесь на первое место и каждый следующий блок будет смещать
            <br/><br/>
            Ваше объявление на одну позицию,
            пока оно полностью не исчезнет. Вы можете приобретать неограниченное кол-во рекламных объявлений.
        </div>       

        {% set form = active_form_begin({
            'id' : 'form-top-slider',
            'options' : {'class' : 'horizontal'},
            'enableClientScript': false,
        }) %}

        <div class="general-form clearfix">

            <div class="top-slider-wrapper">

                {{ form.field(advertisementForm, 'type', {
                    'options' : {'class' : 'form-group'},
                    'inputOptions' : {'class' : 'custom-select'},
                    'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'
                }).dropDownList(advertisementForm.typeArray) | raw }}

                {{ form.field(advertisementForm, 'label', {
                    'options' : {'class' : 'form-group'},
                    'inputOptions' : {'class' : 'custom-select'},
                    'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'
                }).dropDownList(advertisementForm.labelArray) | raw }}



                <div id="group-add-in-top" class="form-group field-advertisementsliderform-advert_id required">
                    <div class="col-l">
                        <label class="control-label" for="advertisementsliderform-advert_id">Объявление</label>
                    </div>
                    <div class="col-i">
                        <span class="top-slider-link link" id="add-in-slider" data-service="ADVERTISING_TOP_SLIDER">Выбрать</span>
                        <input type="hidden" id="advertisementsliderform-advert_id" class="form-control" name="AdvertisementSliderForm[advert_id]">
                        <div class="invalid-feedback"></div>
                    </div>
                </div>



            </div>

            <div class="top-slider-textarea">
                {{ form.field(advertisementForm, 'more_info', {
                    'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>',
                    'options' : {'class' : 'form-group'}
                }).textarea() | raw }}
            </div>

            <div class="top-slider-footer">
                <div class="top-slider-info">
                    <p>
                        После заполнения формы Вам необходимо оплатить необходимую сумму, это можно сделать мгновенно
                        списав средства со своего внутреннего счета или оплатить через платежную систему.
                        После оплаты рекламное объявление будет добавлено в течение нескольких секунд.
                    </p>
                </div>

                <div class="clearfix"></div>

                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn top-slider-submit"/>
                </div>
            </div>

        </div>

        {{ active_form_end() }}

    </div>

{% endblock content %}
