{#
    Авторизация
    @var \yii\web\View this
    @var \common\modules\users\models\LoginForm model
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Вход в личный кабинет | Сдаём.ру',
        'description': 'Сдаём.ру подберёт и забронирует Вам - квартира на сутки, аренда квартир на сутки, квартира сутки, посуточные квартиры, квартира на сутки в Москве,посуточные квартиры в Москве.',
        'keywords': 'квартира на час, квартира на час в Москве, квартира час, снять квартиру на час, почасовая аренда квартиры квартира на сутки ,квартира сутки,квартира на сутки в Москве,аренда квартир на сутки,квартира на ночь,квартира на ночь в Москве,посуточная аренда,на сутки, доска бесплатных объявлений,доска объявлений',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-auth{% endblock %}

{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    <div class="auth">

        <div class="container-fluid">

            {% if app.session.hasFlash('danger') %}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ app.session.getFlash('danger') | raw }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert alert-success mb-5" role="alert">
                    {{ app.session.getFlash('success') | raw }}
                </div>
            {% endif %}

            <div class="auth-content">
                <h3 class="auth-title">Вход</h3>
                <form class="form" method="post" action="{{ path(['/users/guest/login']) }}" id="form-signIn">
                    <div class="form-group">
                        <label for="signIn-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Email" name="LoginForm[username]" id="signIn-email">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group mb-0">
                        <label for="signIn-password" class="d-none"></label>
                        <input type="password" class="form-control" placeholder="Введите ваш пароль" name="LoginForm[password]" id="signIn-password">
                        <div class="invalid-feedback"></div>
                        <a href="{{ path(['/users/guest/recovery']) }}" class="forgot-pass">{{ t('users', 'RECOVERY') }}</a>
                    </div>
                    <div class="auth-buttons">
                        <div class="auth-items">
                            <label class="auth-save-pass">
                                <input class="" type="checkbox" name="LoginForm[rememberMe]" value="1">
                                <span class="input-text">Запомнить</span>
                            </label>
                        </div>
                        <button type="submit" class="btn btn-warning btn-special">{{ t('users', 'SIGNIN') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}