{#
    Авторизация
    @var \yii\web\View this
    @var \common\modules\users\models\LoginForm model
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} Вход в личный кабинет | Сдаём.ру {% endblock %}

{% block header %}
    {{ use('frontend/modules/site/widgets/BgHeader') }}
    {{ bg_header_widget({'title': 'Авторизация'}) }}
{% endblock %}

{% block navbar_bottom %}{% endblock %}

{% block navbar %}
    {{ this.renderDynamic('return $this->render("@frontend/modules/office/views/layouts/navbar.twig");') | raw }}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <div class="breadcrumbs">
            {{ use('yii/widgets/Breadcrumbs') }}
            {{ breadcrumbs_widget({
                'itemTemplate' : "<li>{link}</li>\n",
                'homeLink' :
                {
                    'label' : 'Главная',
                    'url' : '/'
                },
                'links':  [
                    {
                        'label': 'Регистрация',
                        'url': ['/users/guest/signup'],
                    },
                    {
                        'label': 'Авторизация',
                        'url': ['/users/guest/login'],
                    },
                ],
            }) }}
        </div>
    </div>
{% endblock %}


{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    {{ this.registerMetaTag({'name' : 'description', 'content' : 'Сдаём.ру подберёт и забронирует Вам - квартира на сутки, аренда квартир на сутки, квартира сутки, посуточные квартиры, квартира на сутки в Москве,посуточные квартиры в Москве.'}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : 'квартира на час, квартира на час в Москве, квартира час, снять квартиру на час, почасовая аренда квартиры квартира на сутки ,квартира сутки,квартира на сутки в Москве,аренда квартир на сутки,квартира на ночь,квартира на ночь в Москве,посуточная аренда,на сутки, доска бесплатных объявлений,доска объявлений'}) }}

    <div class="container">
        <div class="container-certain primary" style="margin-bottom: 20%">

            {% if app.session.hasFlash('danger') %}
                <div class="alert alert-danger" role="alert">
                    {{ app.session.getFlash('danger') | raw }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert alert-success" role="alert">
                    {{ app.session.getFlash('success') | raw }}
                </div>
            {% endif %}

            {{ use('yii/widgets/ActiveForm') }}
            {% set form = active_form_begin({
                'options' : {'class' : 'horizontal'},
                'enableClientScript': false,
                'id': 'form-signin',
            }) %}

            <div class="fields-fix">

                {{ form.field(model, 'username', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

                {{ form.field(model, 'password', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).passwordInput() | raw }}

                {{ form.field(model, 'rememberMe', {'options' : {'style' : 'margin-left: 35%'}}).checkbox() | raw }}

                <div class="clearfix"></div>

                <div class="form-group text-right">
                    <a href="{{ path(['/users/guest/signup']) }}"
                       style="font-weight: bold">{{ t('users', 'SIGNUP') }}</a> |
                    <a href="{{ path(['/users/guest/resend']) }}">{{ t('users', 'RESEND') }}</a> |
                    <a href="{{ path(['/users/guest/recovery']) }}">{{ t('users', 'RECOVERY') }}</a> &nbsp;
                    <input type="submit" value="{{ t('users', 'SIGNIN') }}" class="btn btn-primary"/>
                </div>

            </div>

            {{ active_form_end() }}

        </div>
    </div>

{% endblock content %}