{#
    Восстановить пароль
    @var \yii\web\View this
    @var \common\users\models\RecoveryForm model
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title':  t('users', 'RECOVERY.TITLE') ~ ' | Сдаём.ру',
        'description': 'Сдаём.ру подберёт и забронирует Вам - квартира на сутки, аренда квартир на сутки, квартира сутки, посуточные квартиры, квартира на сутки в Москве,посуточные квартиры в Москве.',
        'keywords': 'квартира на час, квартира на час в Москве, квартира час, снять квартиру на час, почасовая аренда квартиры квартира на сутки ,квартира сутки,квартира на сутки в Москве,аренда квартир на сутки,квартира на ночь,квартира на ночь в Москве,посуточная аренда,на сутки, доска бесплатных объявлений,доска объявлений',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-auth{% endblock %}

{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    <div class="auth">
        <div class="container-fluid">

            {% if app.session.hasFlash('danger') %}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ app.session.getFlash('danger') | raw }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert alert-success mb-5" role="alert">
                    {{ app.session.getFlash('success') | raw }}
                </div>
            {% endif %}

            <div class="auth-content">
                <h3 class="auth-title">Восстановить пароль</h3>
                <form class="form" method="post" action="{{ path(['/users/guest/recovery']) }}" id="form-recovery">
                    <div class="form-group">
                        <label for="recovery-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Email" name="RecoveryForm[email]" id="recovery-email">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="auth-buttons justify-content-center">
                        <button type="submit" class="btn btn-warning btn-special">{{ t('users', 'SEND') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}
