{#
    Регистрация
    @var \yii\web\View this
    @var \common\modules\users\models\User user
    @var \common\modules\users\models\Profile profile
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Регистрация | Сдаём.ру',
        'description': 'Сдаём.ру подберёт и забронирует Вам - квартира на сутки, аренда квартир на сутки, квартира сутки, посуточные квартиры, квартира на сутки в Москве,посуточные квартиры в Москве.',
        'keywords': 'квартира на час, квартира на час в Москве, квартира час, снять квартиру на час, почасовая аренда квартиры квартира на сутки ,квартира сутки,квартира на сутки в Москве,аренда квартир на сутки,квартира на ночь,квартира на ночь в Москве,посуточная аренда,на сутки, доска бесплатных объявлений,доска объявлений',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-auth{% endblock %}

{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    <div class="auth">
        <div class="container-fluid">

            {% if app.session.hasFlash('danger') %}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ app.session.getFlash('danger') | raw }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert alert-success mb-5" role="alert">
                    {{ app.session.getFlash('success') | raw }}
                </div>
            {% endif %}

            <div class="auth-content">
                <h3 class="auth-title">Регистрация</h3>

                <form class="form" method="post" action="{{ path(['/users/guest/signup']) }}" id="form-signUp">
                    <div class="form-group">
                        <label for="signUp-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Введите ваш Email" name="User[email]" id="signUp-email">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-phone" class="d-none"></label>
                        <input type="tel" class="form-control" placeholder="+7(___)___-__-__" name="User[phone]" id="signUp-phone">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-password" class="d-none"></label>
                        <input type="password" class="form-control" placeholder="Введите ваш пароль" name="User[password]" id="signUp-password">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-name" class="d-none"></label>
                        <input type="text" class="form-control" placeholder="Введите ваше имя" name="Profile[name]" id="signUp-name">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="signUp-user_type"></label>
                        <select class="custom-select" name="Profile[user_type]" id="signUp-user_type">
                            <option value="" selected>Тип аккаунта</option>
                            {% for type, userType in UserHelper.getUserTypeArray() %}
                                <option value="{{ type }}"> - {{ userType.label }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="auth-extra mt-4">
                        <strong>Регистрируясь на сайте я соглашаюсь:</strong>
                        <div class="form-group">
                            <label class="form-check-label d-flex align-items-start">
                                <input type="checkbox" name="Profile[advertising]" value="1">
                                <span>
                                    Получать рекламные и информационные EMAIL рассылки от "cdaem.ru" и партнеров и не возражаю
                                    о передачи моих персональных данных третьим лицам.
                                </span>
                            </label>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="User[agreement]" value="1" id="signUp-agreement">
                                <label class="form-check-label" for="signUp-agreement">
                                    <span>
                                        С <a href="https://cdaem.ru/page/agreement" target="_blank">пользовательским соглашением</a>, с расценками на
                                        размещение платных объявлений, а также получать СМС-оповещения при использовании определенных
                                        сервисов на этом сайте.
                                    </span>
                                </label>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <strong>Внимание:</strong>
                        <p>
                            После регистрации Вам будет отправлено письмо с инструкциями по активации аккаунта.
                            Если письмо не пришло в течении 15 минут, Вы можете запросить
                            <a href="{{ path(['/users/guest/resend']) }}" target="_blank">код активации</a> повторно.
                        </p>
                    </div>
                    <div class="form-group d-flex flex-column justify-content-center align-items-center mt-4 mb-0">
                        <button type="submit" class="btn btn-warning btn-special">{{ t('users', 'SIGNUP') }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

{% endblock content %}