{#
    Регистрация
    @var \yii\web\View this
    @var \common\modules\users\models\User user
    @var \common\modules\users\models\Profile profile
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Регистрация | Сдаём.ру',
        'description': 'Сдаём.ру подберёт и забронирует Вам - квартира на сутки, аренда квартир на сутки, квартира сутки, посуточные квартиры, квартира на сутки в Москве,посуточные квартиры в Москве.',
        'keywords': 'квартира на час, квартира на час в Москве, квартира час, снять квартиру на час, почасовая аренда квартиры квартира на сутки ,квартира сутки,квартира на сутки в Москве,аренда квартир на сутки,квартира на ночь,квартира на ночь в Москве,посуточная аренда,на сутки, доска бесплатных объявлений,доска объявлений',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-signIn{% endblock %}

{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    <div class="sign-in">
        <div class="container-fluid">

            {% if app.session.hasFlash('danger') %}
                <div class="alert alert-danger mb-5" role="alert">
                    {{ app.session.getFlash('danger') | raw }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert alert-success mb-5" role="alert">
                    {{ app.session.getFlash('success') | raw }}
                </div>
            {% endif %}

            <div class="sign-in-content">
                <h3 class="sign-in-title">Регистрация</h3>

                <form class="form" method="post" action="{{ path(['/users/guest/signup']) }}" id="form-signUp">
                    <div class="form-group sign-in-email">
                        <label for="signUp-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Email" name="User[email]" id="signUp-email">
                        <div class="invalid-feedback"></div>
                    </div>



                    <div class="sign-in-buttons justify-content-center">
                        <button type="submit" class="btn btn-warning btn-special">{{ t('users', 'SIGNUP') }}</button>
                    </div>
                </form>

            </div>
        </div>
    </div>




    {{ form.field(user, 'email', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

    {{ form.field(user, 'phone', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textInput({'class' : 'phone form-control', 'prompt': ' ', 'id':'phone',}) | raw }}

    {{ form.field(user, 'password', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).passwordInput() | raw }}

    {{ form.field(user, 'repassword', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).passwordInput() | raw }}

    {{ form.field(profile, 'user_type', {
        'options' : {'class' : 'form-group white'}, 'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'
    }).dropDownList(StatusHelper.getList(profile.getUserTypeArray()), {'class' : 'form-control select-white', 'prompt': ' '}) | raw }}

    {{ form.field(profile, 'name', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

    {{ form.field(profile, 'surname', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

    {{ form.field(profile, 'second_name', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

    {{ form.field(profile, 'whau', {'options' : {'class' : 'form-group line'}, 'labelOptions' : {'class' : ''} }) | raw }}

    <p><b>Регистрируясь на сайте я соглашаюсь:</b></p>

    {{ form.field(profile, 'advertising').checkbox({'label' : 'Получать рекламные и информационные EMAIL рассылки от "cdaem.ru" и партнеров и не возражаю о передачи моих персональных данных третьим лицам.'}) | raw }}

    {{ form.field(user, 'agreement').checkbox({'label' : 'С <a href="' ~ path({0 : '/pages/default/index', 'url' : 'agreement'}) ~ '" target="_blank">пользовательским соглашением</a>, с расценками на размещение платных объявлений, а также получать СМС-оповещения при использовании определенных сервисов на этом сайте.</label>'}) | raw }}

    <br/>

    <p><b>Внимание:</b></p>
    <p>
        После регистрации Вам будет отправлено письмо с инструкциями по активации аккаунта. Если письмо не
        пришло в течении 15 минут, Вы можете запросить <a href="{{ path('/users/guest/resend') }}">код
            активации</a> повторно.
    </p>



{% endblock content %}