{{ this.beginPage() }}<!DOCTYPE html>
<html lang="ru">
<head>
    {% block seo %}{% endblock %}
    {{ html.csrfMetaTags() | raw }}
    {{ this.serviceHead() | raw }}
    {{ this.head() }}
    <base href="{{ url.getSiteDomain()}}" />
</head>
<body class="{% block bodyClass %}{% endblock %}">
{{ this.beginBody() }}
{{ use('common/modules/seo/widgets/frontend/SeoText') }}
{{ use('common/modules/site/assets/AppAsset') }}
{{ register_app_asset() }}

{% if this.context.action.id == 'index' and this.context.module.id == 'site' %}
    <div class="header-background"></div>
{% endif %}

<div class="wrapper">
    {% block header %}
        {% if this.context.action.id == 'index' and this.context.module.id == 'site' %}
            {{ this.renderDynamic('return $this->render("@common/modules/site/views/_sections/_header.twig");') | raw }}
        {% else %}
            {{ this.renderDynamic('return $this->render("@common/modules/site/views/_sections/_header-collapse.twig");') | raw }}
        {% endif %}
    {% endblock %}
    <main>
        <div>
            {% block breadcrumbs %}{% endblock %}
            {% block content %}{% endblock %}
        </div>
        {% block additional_content %}{% endblock %}
        {{ seo_text_widget({'type' : 'footer' })| raw }}
    </main>
    {% block footer %}
        {{ this.render("@common/modules/site/views/_sections/_footer.twig") | raw }}
    {% endblock %}
</div>

{% if this.context.action.id != 'error' %}
    {{ this.registerJs("$(document).ready(function(){
        $('meta[name=csrf-token]').attr('content', '"~this.renderDynamic('return Yii::$app->request->csrfToken;')~"');
        $('input[name=_csrf]').val('"~this.renderDynamic('return Yii::$app->request->csrfToken;')~"');
    });", constant('\\yii\\web\\View::POS_END')) }}
{% endif %}
{{ this.serviceFooter() | raw }}
{{ this.endBody() }}

{% block additional_scripts %}{% endblock %}
</body>
</html>{{ this.endPage() }}
