{% if articles is not empty %}
    <section class="news">
        <div class="container-fluid">
            <div class="news-container">
                <h2 class="section-title">Наши новости</h2>
                <a href="{{ path(['/articles/default/index']) }}" class="btn btn-outline-warning">Все новости</a>
            </div>
            <div class="news-wrapper">
                {% for article in articles %}
                    <div class="news-card-wrapper">
                        <div class="news-card">
                            <div class="news-card-image-container">
                                <a href="{{ path('/articles/default/view', {'id' : article.slug}) }}">
                                    <img class="news-image" src="{{ article.getTitleImg() }}" alt="news-image">
                                </a>
                            </div>
                            <div class="news-item">
                                <div class="news-publication-date">
                                    {{ DateTimeHelper.toFullDate(article.date_create) }}
                                </div>
                                <div class="news-subtitle">
                                    <a href="{{ path('/articles/default/view', {'id' : article.slug}) }}">
                                        {{ article.name }}
                                    </a>
                                </div>
                                <div class="news-text">
                                    {{ article.short_text | raw }}
                                </div>
                                <!--<a class="btn btn-warning" href="./article.html">Читать полностью</a>-->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}