<section class="gallery">
    <div class="container-fluid">
        <h3 class="section-title">Наши любимые города</h3>
        <div class="gallery-list">
            <article class="gallery-item gallery-item-lg">
                <div class="gallery-item-wrapper">
                    <a href="{{ path('/partners/default/region', {'city': 'msk'}) }}">
                        <object class="gallery-img">
                            <img src="/_new/images/gallery/city-moscow.png" alt="Moscow"/>
                        </object>
                    </a>
                    <div class="gallery-info">
                        <h5 class="text-white">Москва</h5>
                        <span class="gallery-sub-title text-white">
                            Население: 12 636 312
                        </span>
                    </div>
                    <label class="link text-white link-to" >
                        Перейти
                    </label>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <a href="{{ path('/partners/default/region', {'city': 'spb'}) }}">
                        <object class="gallery-img">
                            <img src="/_new/images/gallery/city-st.png" alt="St. Petersburg"/>
                        </object>
                    </a>
                    <div class="gallery-info">
                        <h5 class="text-white">Санкт-Петербург</h5>
                        <span class="gallery-sub-title text-white">
                            Население: 5 388 759
                        </span>
                    </div>
                    <label class="link text-white link-to" >
                        Перейти
                    </label>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <a href="{{ path('/partners/default/region', {'city': 'sochi'}) }}">
                        <object class="gallery-img">
                           <img src="/_new/images/gallery/city-sochi.png" alt="Sochi"/>
                        </object>
                    </a>
                    <div class="gallery-info">
                        <h5 class="text-white">Сочи</h5>
                        <span class="gallery-sub-title text-white">
                            Население: 443 562
                        </span>
                    </div>
                    <label class="link text-white link-to">
                        Перейти
                    </label>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <a href="{{ path('/partners/default/region', {'city': 'tyumen'}) }}">
                        <object class="gallery-img">
                          <img src="/_new/images/gallery/city-tyumen.png" alt="Tyumen"/>
                        </object>
                    </a>
                    <div class="gallery-info">
                        <h5 class="text-white">Тюмень</h5>
                        <span class="gallery-sub-title text-white">
                            Население: 807 474
                        </span>
                    </div>
                    <label class="link text-white link-to" >
                        Перейти
                    </label>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <a href="{{ path('/partners/default/region', {'city': 'rostov'}) }}">
                        <object class="gallery-img">
                          <img src="/_new/images/gallery/city-rostov-on-don.png" alt="Rostov On Don"/>
                        </object>
                    </a>
                    <div class="gallery-info">
                        <h5 class="text-white">Ростов на Дону</h5>
                        <span class="gallery-sub-title text-white">
                            Население: 1 137 904
                        </span>
                    </div>
                    <label class="link text-white link-to">
                        Перейти
                    </label>
                </div>
            </article>
            <article class="gallery-item gallery-item-md">
                <div class="gallery-item-wrapper">
                    <a href="{{ path('/partners/default/region', {'city': 'kazan'}) }}">
                        <object class="gallery-img">
                            <img src="/_new/images/gallery/city-kazan.png" alt="Kazan"/>
                        </object>
                    </a>
                    <div class="gallery-info">
                        <h5 class="text-white">Казань</h5>
                        <span class="gallery-sub-title text-white">
                            Население: 1 560 000
                        </span>
                    </div>
                    <label class="link text-white link-to" >
                        Перейти
                    </label>
                </div>
            </article>
        </div>
        <div class="text-center">
            <a href="{{ path(['/partners/default/index']) }}" class="btn btn-outline-warning">Все города</a>
        </div>
    </div>
    <div class="gallery-moscow"></div>
</section>