<section class="faq">
    <div class="container-fluid">
        <h3 class="section-title">Ваши возможности</h3>
        <div class="faq__list d-flex flex-wrap">
            <article class="faq-card">
                <object class="faq-icon">
                    <img src="/_new/images/icons/phone.svg" alt="phone">
                </object>
                <div class="d-flex flex-column">
                    <h6 class="faq-card-title">Больше звонков</h6>
                    <span class="text-large">Увеличение звонков, броней, посещение вашей страницы.</span>
                    <a href="{{ path(['/office/default/services']) }}">Посмотреть</a>
                </div>
            </article>
            <article class="faq-card">
                <object class="faq-icon">
                    <img src="/_new/images/icons/pointer.svg" alt="phone icon">
                </object>
                <div class="d-flex flex-column">
                    <h6 class="faq-card-title">Создать объявление</h6>
                    <span class="text-large">Быстрая регистрация и подача объявления.</span>
                    <a href="{{ path(['/partners/default/create']) }}">Добавить</a>
                </div>
            </article>
            <article class="faq-card">
                <object class="faq-icon">
                    <img src="/_new/images/icons/map.svg" alt="phone icon">
                </object>
                <div class="d-flex flex-column">
                    <h6 class="faq-card-title">Все объекты на карте</h6>
                    <span class="text-large">Поиск объявлений рядом с вами и не только.</span>
                    <a href="{{ path('/geo/default/index', {'city': 'msk'}) }}">Найти</a>
                </div>
            </article>
            <article class="faq-card">
                <object class="faq-icon">
                    <img src="/_new/images/icons/question.svg" alt="phone icon">
                </object>
                <div class="d-flex flex-column">
                    <h6 class="faq-card-title">Как работает сайт</h6>
                    <span class="text-large">Возникли вопросы по работе сайта обратитесь в разделе помощь.</span>
                    <a href="{{ path(['/office/default/help']) }}">Открыть</a>
                </div>
            </article>
            <article class="faq-card">
                <object class="faq-icon">
                    <img src="/_new/images/icons/arms.svg" alt="phone icon">
                </object>
                <div class="d-flex flex-column">
                    <h6 class="faq-card-title">Сотрудничество</h6>
                    <span class="text-large">Предложите свой объект и получите прибыль.</span>
                    <a href="#">Перейти</a>
                </div>
            </article>
            <article class="faq-card">
                <object class="faq-icon">
                    <img src="/_new/images/icons/armchair.svg" alt="phone icon">
                </object>
                <div class="d-flex flex-column">
                    <h6 class="faq-card-title">Вакансии</h6>
                    <span class="text-large">Выгодные предложения и удобный поиск.</span>
                    <a href="{{ path(['/helpdesk/default/workvac']) }}">Открыть</a>
                </div>
            </article>
        </div>
    </div>
</section>