<section class="search-form">
    <div class="container-fluid">
        <div class="search-form-promo">
            <h1 class="search-form-title">Снять квартиру посуточно</h1>
            <p>Это огромный поиск по всем городам России, краткосрочной аренды.</p>
        </div>
        <div class="search-form-navs">
            <a href="{{ path(['/partners/reservation/index']) }}" class="search-form-nav">
                <object class="search-form-icon flex-shrink-0">
                    <img src="/_new/images/icons/house.svg" alt="house icon">
                </object>
                <span class="text-large text-white">Быстро снять</span>
            </a>
            <a href="{{ path('/geo/default/index', {'city': 'msk'}) }}" class="search-form-nav">
                <object class="search-form-icon flex-shrink-0">
                    <img src="/_new/images/icons/search.svg" alt="search icon">
                </object>
                <span class="text-large text-white">Показать на карте</span>
            </a>
        </div>
        <div class="search-form-border"></div>
        <form action="{{ path(['/partners/pre-region']) }}" method="get">
            <div class="search-form-options">
                <div class="search-form-filters">
                    <div class="search-form-filter search-form-filter-city">
                        <label>
                            <input class="form-control" id="search-form-autocomplete" data-url="{{ path(['/geo/ajax/select-city']) }}" name="city_name" type="text" autocomplete="off" placeholder="Поиск в городе" value="Москва">
                            <input type="hidden" name="city_code" id="search-form-autocomplete-selected" value="msk">
                        </label>
                    </div>
                    <div class="search-form-filter search-form-filter-type">
                        <label>
                            <label>
                                <select class="custom-select" name="sect">
                                    {% for key, rentType in searchModel.rentTypesList %}
                                        <option value="{{ key }}" {{ key == 2 ? 'selected="selected"' : '' }}>{{ rentType }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </label>
                    </div>
                    <div class="search-form-group" data-daterangepicker>
                        <div class="search-form-filter search-form-filter-calendar daterangepicker-from">
                            <span class="daterangepicker-month">
                                {{ DateTimeHelper.toDayAndMonth('now' | date('Y-m-d')) }}
                            </span>
                            <span class="daterangepicker-day">
                                {{ DateTimeHelper.toWeek('now' | date('Y-m-d')) }}
                            </span>
                            <input type="hidden" name="date_from" value="{{ 'now' | date('Y-m-d') }}">
                        </div>
                        <div class="search-form-filter search-form-filter-calendar daterangepicker-to">
                            <span class="daterangepicker-month">
                                {{ DateTimeHelper.toDayAndMonth('now' | date_modify('+1 day') | date('Y-m-d')) }}
                            </span>
                            <span class="daterangepicker-day">
                                {{ DateTimeHelper.toWeek('now' | date_modify('+1 day') | date('Y-m-d')) }}
                            </span>
                            <input type="hidden" name="date_to" value="{{ 'now' | date_modify('+1 day') | date('Y-m-d') }}">
                        </div>
                    </div>
                    <div class="search-form-filter search-form-filter-extra dropdown">
                        <span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                            <span>&nbsp;</span>
                        </span>
                        <span>
                            Фильтры
                            <span>
                                Дополнительные параметры
                            </span>
                        </span>
                        <div class="search-form-filter-options">
                            <p class="options-text">Количество комнат</p>
                            <label class="rooms-item">
                                <input name="rooms" type="radio" value="all" checked>
                                <span class="input-text">Любой вариант</span>
                            </label>
                            <div class="rooms">
                                <div class="rooms-container">
                                    <label class="rooms-item">
                                        <input name="rooms" type="radio" value="1">
                                        <span class="input-text">1 комната</span>
                                    </label>
                                    <label class="rooms-item">
                                        <input name="rooms" type="radio" value="2">
                                        <span class="input-text">2 комнаты</span>
                                    </label>
                                    <label class="rooms-item">
                                        <input name="rooms" type="radio" value="3">
                                        <span class="input-text">3 комнаты</span>
                                    </label>
                                </div>
                                <div class="rooms-container">
                                    <label class="rooms-item">
                                        <input name="rooms" type="radio" value="4">
                                        <span class="input-text">4 комнаты</span>
                                    </label>
                                    <label class="rooms-item">
                                        <input name="rooms" type="radio" value="5">
                                        <span class="input-text">5 комнат</span>
                                    </label>
                                    <label class="rooms-item">
                                        <input name="rooms" type="radio" value="6">
                                        <span class="input-text">6+ комнат</span>
                                    </label>
                                </div>
                            </div>
                            <div class="price">
                                <p class="options-text">Цена (₽)</p>
                                <input name="price_from" type="number" value="" placeholder="от">
                                <span class="input-text">-</span>
                                <input name="price_to" type="number" value="" placeholder="до">
                            </div>
                            <p class="options-text">Количество гостей</p>
                            <label class="guests-item">
                                <input name="guests" type="radio" value="all" checked>
                                <span class="input-text">Любой вариант</span>
                            </label>
                            <div class="guests">
                                <div class="guests-container">
                                    <label class="guests-item">
                                        <input name="guests" type="radio" value="1">
                                        <span class="input-text">1 гость</span>
                                    </label>
                                    <label class="guests-item">
                                        <input name="guests" type="radio" value="2">
                                        <span class="input-text">2 гостя</span>
                                    </label>
                                    <label class="guests-item">
                                        <input name="guests" type="radio" value="3">
                                        <span class="input-text">3 гостя</span>
                                    </label>
                                </div>
                                <div class="guests-container">
                                    <label class="guests-item">
                                        <input name="guests" type="radio" value="4">
                                        <span class="input-text">4 гостя</span>
                                    </label>
                                    <label class="guests-item">
                                        <input name="guests" type="radio" value="5">
                                        <span class="input-text">5 гостей</span>
                                    </label>
                                    <label class="guests-item">
                                        <input name="guests" type="radio" value="6">
                                        <span class="input-text">6+ гостей</span>
                                    </label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-warning btn-close">Применить</button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning btn-special btn-search">Найти</button>
            </div>
        </form>
    </div>
</section>