{% if forHome is defined and forHome == true %}

    <header class="header-collapse header-collapse-home">
        <div class="container-fluid">
            <nav class="main-menu collapse" id="main-menu">
                {% include './__header_collapse_user_info.twig' %}
                {% include './__header_collapse_message.twig' %}
            </nav>
            <div class="header-fast-access">
                {% include './__header_collapse_message.twig' %}
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-label="navbar-toggle">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </header>

{% else %}

    <header class="header-collapse">
        <div class="container-fluid">
            <a class="header-logo" href="/">
                <img src="/_new/images/logo-dark.svg" alt="cdaem.ru" />
            </a>
            <nav class="main-menu collapse" id="main-menu">
                {% include './__header_collapse_user_info.twig' %}
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="{{ app.request.pathInfo == 'search' ? 'active' : '' }}" href="{{ path(['/partners/default/index']) }}">
                            Доска объявлений
                        </a>
                    </li>
                    {#  Меню показывается только владельцам квартир #}
                    {% if app.user.identity.profile.user_type != constant('\\common\\modules\\users\\models\\Profile::WANT_RENT') %}
                        <li class="nav-item">
                            <a class="{{ app.request.pathInfo == 'office/create-adverts' ? 'active' : '' }}" href="{{ path(['/partners/office/create']) }}">
                                Добавить объявление
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="{{ app.request.pathInfo == 'reservation' ? 'active' : '' }}" href="{{ path(['/partners/reservation/index']) }}">
                                Быстро снять
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="{{ app.request.pathInfo == 'help' ? 'active' : '' }}" href="{{ path(['/helpdesk/default/help']) }}">
                            Помощь
                        </a>
                    </li>
                </ul>
                {% include './__header_collapse_message.twig' %}
            </nav>
            <div class="header-fast-access">
                {% include './__header_collapse_message.twig' %}
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-label="navbar-toggle">
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </header>

{% endif %}
