<div class="adv-card">
    <div class="adv-card-line">
        <div class="adv-card-details">
            <div class="d-flex flex-wrap">
                <div class="adv-list-img">
                    <img src="{{ ApartmentHelper.getDefaultPreviewImageSrc(apartment) }}" alt="" />
                </div>
                <div class="adv-list-data">
                    <div class="adv-state adv-state-active">
                        <div class="adv-state-text">Активно</div>
                        <a href="#" class="adv-state-message">
                            <span class="adv-state-icon">
                                <img src="/_new/images/account/icon-lk-email-sm.svg" alt="" />
                            </span>
                            <span class="adv-state-value">99</span>
                        </a>
                    </div>
                    <div class="adv-address">
                        <span class="adv-address-name">{{ ApartmentHelper.getAddress(apartment) }}</span>
                        <a href="{{ path({'0' : '/reviews/default/index', 'id' : apartment.apartment_id}) }}" class="adv-address-link">
                            {{ t('app',
                                '{n, plural, =0{Нет отзывов} one{# отзыв} few{# отзыва} many{# отзывов} other{# отзывов}}',
                                {'n': this.renderDynamic("return \\common\\modules\\reviews\\models\\Review::find()->where(['apartment_id' => "~apartment.apartment_id~"])->moderation()->count();")}
                            ) }}
                        </a>
                    </div>
                    <div class="adv-card-metro">
                        <span class="adv-card-metro-name">
                            <span class="adv-card-metro-icon">
                                <img src="/_new/images/account/icon-lk-metro.svg" alt="" />
                            </span>
                            {% set firstMetroStation = apartment.getFirstMetroStations() %}
                            {% if firstMetroStation %}
                                {{ firstMetroStation.getMetro().one().name }}
                            {% else %}
                                Нет в радиусе 1.5 км
                            {% endif %}
                        </span>
                        <a href="#" class="adv-card-metro-link" data-latitude="{{ apartment.latitude }}" data-longitude="{{ apartment.longitude }}" data-address="{{ ApartmentHelper.getAddress(apartment) }}" >
                            <span class="adv-card-metro-link-icon">
                                <img src="/_new/images/account/icon-lk-search-maps.svg" alt="" />
                            </span>
                            Показать на карте
                        </a>
                    </div>
                    <div class="adv-card-contact">
                        <span class="adv-card-contact-text">Контакты:</span>
                        <div class="adv-card-contact-phone">
                            <span class="adv-card-contact-number">+7 900 000 00 00</span>
                            <span class="adv-card-contact-change"></span>
                            <div class="adv-card-phones">
                                <span class="adv-card-phone">+7 900 000 00 00</span>
                                <span class="adv-card-phone">+7 900 000 00 00</span>
                                <span class="adv-card-phone">+7 900 000 00 00</span>
                            </div>
                        </div>
                    </div>
                    <div class="adv-card-safe">
                        {% if apartment.open_contacts %}
                        <span class="adv-card-safe-name">Безопасная сделка</span>
                        {% else %}
                        <a href="#" class="adv-card-safe-link" data-toggle="modal" data-target="#openContact">
                            Открыть контакты
                        </a>
                        {% endif %}
                        {#<a href="#" class="adv-card-safe-link" data-toggle="modal" data-target="#closeContact">
                            Закрыть контакты
                        </a>#}
                        <span class="adv-card-safe-icon">
                            <img src="/_new/images/account/icon-safe-deal.svg" alt="" />
                            <span class="adv-card-safe-tooltip">
                                Данная услуга позволяет осуществить безопасное бронирование без вашего участия.
                                При нажатии на кнопку "Закрыть контакты" действие дублируется на все объявления...
                            </span>
                        </span>
                    </div>
                    <div class="apartment-info">
                        <div class="apartment-info-item">
                            <div class="apartment-info-icon">
                                <img src="/_new/images/account/icon-my-apartment-info-room.svg" alt="">
                            </div>
                            <div class="apartment-info-text">
                                {{ t('app',
                                    '{n, plural, one{# комната} few{# комнаты} many{# комнат} other{# комнат}}',
                                    {'n': apartment.total_rooms}
                                ) }}
                            </div>
                        </div>
                        <div class="apartment-info-item">
                            <div class="apartment-info-icon">
                                <img src="/_new/images/account/icon-my-apartment-info-sl-places.svg" alt="">
                            </div>
                            <div class="apartment-info-text">
                                {{ t('app',
                                    '{n, plural, one{# сп. место} few{# сп. места} many{# сп. мест} other{# сп. мест}}',
                                    {'n': apartment.sleeping_place}
                                ) }}
                            </div>
                        </div>
                        <div class="apartment-info-item">
                            <div class="apartment-info-icon">
                                <img src="/_new/images/account/icon-my-apartment-info-square.svg" alt="">
                            </div>
                            <div class="apartment-info-text">{{ apartment.total_area }} м<sup>2</sup></div>
                        </div>
                        <div class="apartment-info-item">
                            <div class="apartment-info-icon">
                                <img src="/_new/images/account/icon-my-apartment-info-repair.svg" alt="">
                            </div>
                            <div class="apartment-info-text">
                                {{ apartment.getRemontName() }}
                            </div>
                        </div>
                        <div class="apartment-info-item">
                            <div class="apartment-info-icon">
                                <img src="/_new/images/account/icon-my-apartment-info-num-person.svg" alt="">
                            </div>
                            <div class="apartment-info-text">{{ apartment.getGuestsLimit() }} чел.</div>
                        </div>
                    </div>

                    <div class="adv-card-action">
{#                        <a href="{{ path({'0' : '/partners/office/preview', 'id' : apartment.apartment_id}) }}" class="adv-card-action-item">Просмотреть</a>#}
                            <a href="{{ path({'0' : '/partners/default/view', 'id' : apartment.adverts[0].advert_id}) }}" target="_blank" class="adv-card-action-item">Просмотреть</a>
{#                        <a href="{{ path({'0' : '/partners/office/delete', 'id' : apartment.apartment_id}) }}" class="adv-card-action-item">Удалить</a>#}
                        <a href="#" class="adv-card-action-item" onclick="confirm('Вы действительно хотите удалить данную квартиру?') && (location.href ='{{ path({'0' : '/partners/office/delete', 'id' : apartment.apartment_id}) }}')">Удалить</a>

                        <a href="#" class="adv-card-action-date">
                            <span class="adv-card-action-icon">
                                <img src="/_new/images/account/icon-date-day.svg" alt="">
                            </span>
                            Дни заездов
                        </a>
                    </div>
                </div>
            </div>
            {% if apartment.getFacilitiesByType() %}
                <div class="adv-card-services">
                    {% for facility in apartment.getFacilitiesByType(false) %}
                        <span class="adv-card-service-icon">
                            <img src="/_new/images/account/services/{{ facility.alias }}.svg" title="{{ facility.name }}" alt="{{ facility.name }}" />
                        </span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="adv-card-advs">
            <div class="adv-card-advs-price">
                {% for advert in apartment.adverts %}
                    <div class="adv-card-advs-price-item">
                        <span class="adv-card-advs-price-icon">
                            {% if advert.rentType.getIconName(advert.rentType.slug) %}
                                <img src="/_new/images/icons/apartment/{{ advert.rentType.getIconName(advert.rentType.slug) }}.svg" title="{{ advert.rentType.name }}" alt="" />
                            {% endif %}
                        </span>
                        <span class="adv-card-advs-price-text">
                            <span class="adv-card-advs-price-text-type">{{ advert.rentType.short_name }}</span>
                            <span class="adv-card-advs-price-text-position"><span>{{ advert.position }}</span> в топе</span>
                        </span>
                        <button class="adv-card-advs-price-value">
                            <span class="adv-card-advs-price-number">{{ advert.price | number_format(0, '.', '') }} ₽</span>
                            <span class="adv-card-advs-price-change">
                            <img src="/_new/images/account/icon-price-my-adv-change.svg" alt="" />
                        </span>
                        </button>
                        <!-- hidden block -->
                        <div class="adv-card-advs-modal adv-card-advs-hidden">
                            <form action="/partners/ajax/update-price" method="post" class="adv-form">
                                <div class="adv-form-line adv-form-line-between">
                                    <input type="text" name="rent-price" class="adv-form-input" value="{{ advert.price | number_format(0, '', '') }}">
                                    <input type="hidden" name="advert-id" value="{{ advert.advert_id }}">
                                    <input type="submit" value="Готово" class="adv-form-submit">
                                </div>
                                <div class="adv-form-line">
                                    <label class="adv-form-label">
                                        <input type="checkbox" name="apply-for-all" class="adv-form-checkbox">
                                        <span class="adv-form-label-text">Применить ко всем</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="adv-card-advs-static">
                <div class="adv-card-advs-static-icon">
                    <img src="/_new/images/account/icon-view-static.svg" alt="">
                </div>
                <div class="adv-card-advs-static-value">100</div>
                <a href="#" class="adv-card-advs-static-link">Статистика</a>
            </div>
        </div>
    </div>
    <div class="adv-card-line adv-card-line-top">
        <div class="adv-content">
            {% if apartment.description %}
                <div class="adv-content-change"></div>
                <div class="adv-content-inner">
                    {{ apartment.description }}
                </div>
            {% else %}
                <div class="adv-content-inner">Нет описания</div>
            {% endif %}
        </div>
        <div class="adv-card-change">
            <button class="adv-card-change-item" data-service-name="ADVERTISING_TOP_SLIDER" data-apartment-id="{{ apartment.apartment_id }}">Попасть в слайдер</button>
            <button class="adv-card-change-item" data-service-name="ADVERTISING_IN_SECTION" data-apartment-id="{{ apartment.apartment_id }}">Реклама в разделе</button>
            <button class="adv-card-change-item" data-service-name="ADVERT_SELECTED" data-apartment-id="{{ apartment.apartment_id }}">Выделить цветом</button>
            <button class="adv-card-change-item" data-service-name="ADVERT_TOP_POSITION" data-apartment-id="{{ apartment.apartment_id }}">Поднять позицию</button>
            <button class="adv-card-change-item" data-service-name="ADVERT_IN_TOP" data-apartment-id="{{ apartment.apartment_id }}">Поднять в топ</button>
            <a href="{{ path({'0' : '/partners/office/update', 'id' : apartment.apartment_id}) }}" class="adv-card-change-edit">
                <span class="adv-card-change-edit-icon">
                    <img src="/_new/images/account/icon-price-my-adv-change.svg" alt="">
                </span>
                Редактировать
            </a>
        </div>
    </div>
</div>
