{#
    Мои объявления
    @var \yii\web\View this
    @var \common\modules\partners\models\ApartmentSearch searchModel
    @var dataProvider
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block bodyClass %}p-home{% endblock %}

{% block title %}Мои объявления - Личный кабинет | Cdaem.ру{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Мои объявления',
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}
    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_YMap_asset() }}

    <div class="section-head section-head-between">
        <h2>Мои объявления</h2>
    </div>

    <div class="adv-list">
        {% for apartment in dataProvider.getModels() %}

            {% include '@common/modules/partners/views/frontend/office/_adv-card.twig' with {'apartment': apartment} %}

        {% else %}

            <div class="alert alert-info">
                {% if searchModel.errors.slug %}
                    {{ searchModel.errors.slug[0] }}
                {% else %}
                    Вы не добавили ни одного объявления. <a href="{{ path(['/partners/office/create']) }}">Добавить</a>.
                {% endif %}
            </div>

        {% endfor %}
    </div>

{% endblock content %}
