{{ use('yii/widgets/ActiveForm') }}
{% set form = active_form_begin({
    'id' : 'form-want-pass',
    'options' : {'class' : 'horizontal', 'enctype' : 'multipart/form-data'},
    'enableClientScript': false
}) %}

<div id="want-pass-result">
    <h1>Заполните нужные поля:</h1>

    <div class="fields-fix">

        {% if (model.scenario != 'partnership') %}

            {{ form.field(model, 'rent_types_array', {'options' : {'class' : 'white form-group'},
                'template' : '<div class="col-l">{label}</div> <div class="col-i checkbox-list">{input}{error}</div>'
            }).checkBoxList(model.rentTypesList, {'data-style' : "white"}) | raw }}

        {% endif %}

        {{ form.field(model, 'name', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

        {{ form.field(model, 'phone', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width: 180px;">{input}</div> {error}</div>'}).textInput({'class' : 'form-control phone-mask', 'placeholder' : '+7 (___) ___-____'}) | raw }}

        {{ form.field(model, 'email', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width: 250px;">{input}</div> {error}</div>'}) | raw }}

        <br/>

        {{ form.field(model, 'rooms', {'options' : {'class' : 'white form-group'},
            'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width: 250px;">{input}</div> {error}</div>'
        }).dropDownList(model.roomsList, {'class' : "form-control select-white"}) | raw }}

        {{ form.field(model, 'description', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textarea() | raw }}

        {{ form.field(model, 'files[]', {
            'template' : '<div class="col-l">{label}</div> <div class="col-i"><span class="btn btn-primary btn-file">'~model.getAttributeLabel('files')~'{input}</span><p>(Вы можете загрузить до 10 фотографий.)</p>{error}</div>'
        }).label(false).fileInput({'multiple' : 'multiple'}) | raw }}

        <div class="form-group">
            <div class="col-l"></div>
            <div class="col-i">
                <div id="images-preview"></div>
            </div>
        </div>

        <br/>

        {{ form.field(model, 'metro_array', {
            'options' : {'class' : 'form-group', 'validateOnChange' : true},
            'enableClientValidation' : false,
            'template' : '<div class="col-l">{label}</div>
            <div class="col-i">
                <strong class="text-fix"><a href="#" id="open-subway-map">Выбрать на карте</a></strong> {input}{error}
                <div id="metro-selected-list" data-input-name="WantPassForm[metro_array][]"></div>
                <div class="clearfix"></div>
            </div>',
            'inputOptions' : {'style' : 'display: none'}
        }) | raw }}

        {{ form.field(model, 'address', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}
        <div id="liveYmap" style="width: 100%; height: 300px" data-address-tag="wantpassform-address"
             data-city-name="Москва"></div>
        <br/>

        <br/>

        <br/>

        <div class="form-group text-right">
            <input type="submit" value="Отправить" class="btn btn-primary"/>
        </div>

        {# -------------------------------------------------------- #}
        <div class="modal fade" id="modal-subway-map" data-title="Выбрать на карте Москвы">
            <div class="form-group text-center">
                <input type="button" class="close-modal btn btn-primary" value="Выбрать"/>
            </div>
            <div class="map"></div>
            <br/>
            <div class="form-group text-center">
                <input type="button" class="close-modal btn btn-primary" value="Выбрать"/>
            </div>
        </div>
        {# -------------------------------------------------------- #}

    </div>
</div>
{{ active_form_end() }}