{#
    Недвижимость (Просмотр апартаментов)
    @var common\modules\agency\models\Apartment searchModel
    @var yii\data\ActiveDataProvider dataProvider
    @var bool onlyAgency
#}

{{ use('frontend/themes/basic/assets/SlickAsset') }}
{{ register_slick_asset() }}

{% if specialAdverts is not empty %}
    <section class="proposal">
        <div class="container-fluid">
            <h2 class="section-title">Спец. предложения</h2>
        </div>

        <div class="proposal-slider apartment-card-container">

            {% for specialAdvert in specialAdverts %}
                {{ preview_advert_widget({'advert': specialAdvert}) }}
            {% endfor %}
        </div>
    </section>
{% endif %}

<section class="apartment-list">
    <div class="container-fluid">
        <h2 class="section-title">{{rentType['slug']=='/'?"Снять квартиру " : rentType['name']}} в Москвe</h2>
        <div class="apartment-card-container">
            {% for advert in dataProvider.getModels() %}
                {{ preview_advert_widget({'advert': advert}) }}
            {% endfor %}
        </div>
        {% if dataProvider.getModels() is empty %}
            <div class="alert alert-danger" role="alert">
                Апартаменты не найдены.
            </div>
        {% endif %}
    </div>
</section>