{#
    Быстро подберём квартиру
    @var \yii\web\View this
    @var \frontend\modules\agency\models\Select model
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} Быстро подберём квартиру | Сдаём.ру {% endblock %}

{% block header %}
    {{ use('frontend/modules/site/widgets/BgHeader') }}
    {{ bg_header_widget({'title': 'Быстро подберём квартиру'}) }}
{% endblock %}

{% block navbar_bottom %}{% endblock %}

{% block navbarStickyHeader %}sticky-header{% endblock %}

{% block breadcrumbs %}
    {#<div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
            {
                'label': 'Авторизация',
                'url': ['/users/guest/login'],
            },
            {
                'label': 'Регистрация',
                'url': ['/users/guest/signup'],
            },
            ],
        }) }}
    </div>#}
{% endblock %}

{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : 'Сдаём.ру подберёт и забронирует Вам - квартира на сутки, аренда квартир на сутки, квартира сутки, посуточные квартиры, квартира на сутки в Москве,посуточные квартиры в Москве.'}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : 'квартира на час, квартира на час в Москве, квартира час, снять квартиру на час, почасовая аренда квартиры квартира на сутки ,квартира сутки,квартира на сутки в Москве,аренда квартир на сутки,квартира на ночь,квартира на ночь в Москве,посуточная аренда,на сутки, доска бесплатных объявлений,доска объявлений'}) }}

    {{ use('common/modules/geo/assets/frontend/MetroMskAsset') }}
    {{ register_metro_msk_asset() }}

    {{ use('common/modules/agency/assets/frontend/AgencyAsset') }}
    {{ register_agency_asset() }}

    {{ use('frontend/modules/site/widgets/Captcha') }}

    <div class="container" id="container-select">

        {{ use('yii/widgets/ActiveForm') }}
        {% set form = active_form_begin({
            'id' : 'form-select',
            'options' : {'class' : 'horizontal', 'enctype' : 'multipart/form-data'},
            'enableClientScript': false
        }) %}

        <div class="container-certain primary text">

            {% if app.session.hasFlash('danger') %}
                <div class="alert alert-danger" role="alert">
                    {{ app.session.getFlash('danger') | raw }}
                </div>
            {% endif %}

            {% if app.session.hasFlash('success') %}
                <div class="alert alert-success" role="alert">
                    {{ app.session.getFlash('success') | raw }}
                </div>
            {% endif %}

            <h1>Заполните нужные поля:</h1>
            <br/>
            <div id="select-result">

                <div class="fields-fix">

                    {{ form.field(model, 'rent_types_array', {
                        'template' : '<div class="col-l">{label}</div> <div class="col-i checkbox-list">{input}{error}</div>',
                        'options' : {'class' : 'form-group'}
                    }).checkboxList(model.rentTypesList) | raw }}

                    {{ form.field(model, 'metro_array', {
                        'options' : {'class' : 'form-group'},
                        'enableClientValidation' : false,
                        'template' : '<div class="col-l">{label}</div>
                        <div class="col-i">
                            <strong class="text-fix"><a href="#" id="open-subway-map">Выбрать на карте</a></strong> {input}{error}
                            <div id="metro-selected-list" data-input-name="SelectForm[metro_array][]"></div>
                            <div class="clearfix"></div>
                        </div>',
                        'inputOptions' : {'style' : 'display: none'}
                    }) | raw }}


                    {{ form.field(model, 'name', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}

                    {{ form.field(model, 'phone', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width: 180px;">{input}</div> {error}</div>'}).textInput({'class' : 'form-control phone-mask', 'placeholder' : '+7 (___) ___-____'}) | raw }}

                    {{ form.field(model, 'email', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width: 250px;">{input}</div> {error}</div>'}) | raw }}

                    {{ form.field(model, 'rooms', {'options' : {'class' : 'white form-group'},
                        'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width: 250px;">{input}</div> {error}</div>'
                    }).dropDownList(model.roomsList, {'class' : "form-control select-white"}) | raw }}

                    {{ form.field(model, 'description', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textarea() | raw }}

                    {{ captcha_widget({'form': form, 'model': model, 'name': 'verifyCode'}) }}

                    <div class="form-group text-right" id="select_form">
                        <input type="submit" value="Отправить" class="btn btn-primary"/>
                    </div>

                    {# -------------------------------------------------------- #}
                    <div class="modal fade" id="modal-subway-map" data-title="Выбрать на карте Москвы">
                        <div class="map"></div>
                        <br/>
                        <div class="form-group text-center">
                            <input type="button" class="close-modal btn btn-primary" value="Выбрать"/>
                        </div>
                    </div>
                    {# -------------------------------------------------------- #}

                </div>
            </div>
        </div>

        {{ active_form_end() }}

    </div>

{% endblock content %}