{#
    Вид отзывы
    @var \yii\web\View this
    @var common\modules\reviews\models\Review model
    @var bool user
#}
{% set defaultAvatarUrl = "/_new/images/apartment/author-logo.png" %}
<div class="review-card" data-toggle="modal" data-target="#modalReviewText">
    <div class="review-logo" style="background: url('{{ model.user.profile.avatar_url | default(defaultAvatarUrl)}}') center no-repeat;"></div>
    <div class="review-info-container">
        <div class="review-info">
            <div class="review-date">{{ model.created_at|date('d.m.Y') }}</div>
            <div class="review-rating-container">
                <span class="review-evaluation review-evaluation-5">{{ model.match_description + model.price_quality + model.cleanliness + model.entry }}</span>
                Рейтинг квартиры
            </div>
        </div>
        <div class="review-author">{{ model.user.profile.name }}</div>
        <div class="review-text review-text-card">
            {{ model.text }}
        </div>
    </div>
</div>

