{% if not model.apartment.status %}
    <div class="container-fluid">
        <div class="alert alert-warning">
            Объявление находится на модерации
        </div>
    </div>
{% endif %}
<div class="container-fluid">
    <div id="map" style="width: 100%; height: 429px">
        <div id="ymap_key_display" style="position: relative; top: 10%; left: 0; right: 0; color: black; text-align: center; font-size: 1.8em; pointer-events: none; z-index: 1; text-shadow: 0px 0px 20px;">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Shift</div>
    </div>
</div>

<section class="advert">
    <div class="container-fluid">
        <div class="advert-info">
            <h2 class="advert-title">
                {{ model.apartment.address }}{{ model.apartment.apartment ? ', кв.'~model.apartment.apartment }}
            </h2>
            <div class="advert-cost">
                {% set rentTypes = model.apartment.getRentTypesPrices() %}
                <div class="advert-cost-info" {% if(rentTypes['Квартира на час'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/hour.svg" alt="hour">
                    </object>
                    <p>Час: <span>{{ rentTypes['Квартира на час'] }}</span></p>
                </div>
                <div class="advert-cost-info" {% if(rentTypes['Квартира на ночь'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/night.svg" alt="night">
                    </object>
                    <p>Ночь: <span>{{ rentTypes['Квартира на ночь'] }}</span></p>
                </div>
                <div class="advert-cost-info" {% if(rentTypes['Квартира на сутки'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/day.svg" alt="day">
                    </object>
                    <p>Сутки: <span>{{ rentTypes['Квартира на сутки'] }}</span></p>
                </div>
                <div class="advert-cost-info" {% if(rentTypes['Квартира на месяц'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/months.svg" alt="months">
                    </object>
                    <p>Месяц: <span>{{ rentTypes['Квартира на месяц'] }}</span></p>
                </div>
            </div>
            <div class="advert-list">
                <ul>
                    <li><b>Адрес:</b>
                        {{ model.apartment.city.name }}, {{ model.apartment.address }}{{ model.apartment.apartment ? ', кв.'~model.apartment.apartment }}
                    </li>

                    {% if (model.apartment.metroStations) %}

                        <li><b>Метро:</b>
                            {% for metroStation in model.apartment.metroStations %}
                                {{ metroStation.metro.name }}{% if loop.last == false %},{% endif %}
                            {% endfor %}
                        </li>
                        <li><b>Удаленность от метро:</b> {{ model.apartment.metroWalkText }}</li>

                    {% endif %}

                    <li><b>Этаж:</b> {{ model.apartment.floor }}</li>
                    <li><b>Общая площадь:</b> {{ model.apartment.total_area }} м2</li>
                    <li><b>Комнат:</b> {{ model.apartment.total_rooms }}</li>
                    <li><b>Спальных мест:</b> {{ model.apartment.beds }}</li>
                    <li><b>Ремонт:</b> {{ model.apartment.remontName }}</li>

                    <li class="repairs-icons">
                    {% if model.apartment.getFacilitiesByType() %}
                        <div class="adv-card-services">
                            {% for facility in model.apartment.getFacilitiesByType(false) %}
                                <span class="adv-card-service-icon">
                            <img src="/_new/images/account/services/{{ facility.alias }}.svg" title="{{ facility.name }}" alt="{{ facility.name }}" />
                        </span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </li>

                    <li>
                        <b>Информация от владельца:</b>
                        <div>
                            {% if model.apartment.description %}
                                {{ model.apartment.description }}
                            {% else %}
                                Дополнительная информация не указана.
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="advert-info">
            <div class="advert-author">

                {% include('@common/modules/partners/views/frontend/default/view/owner.twig') %}

            </div>

            {% if model.apartment.orderedImages|length > 0 %}
            <div class="advert-slider-for">
                {{ use('frontend/themes/basic/assets/LightBoxAsset') }}
                {{ register_light_box_asset() }}

                {% for image in model.apartment.orderedImages %}

                    <div class="advert-slider-for-item">
                        <a href="{{ image.reviewSrc }}" data-lightbox="data-lightbox" >
                            <img src="{{ image.reviewSrc }}">
                        </a>
                    </div>

                {% endfor %}

            </div>
            <div class="advert-slider-nav">

                {% for image in model.apartment.orderedImages %}

                    <div class="advert-slider-for-nav">
                        <img src="{{ image.previewSrc }}" alt="slider-image">
                    </div>

                {% endfor %}

            </div>
            {% endif %}

            <div class="advert-button">
{#                {% if not model.apartment.open_contacts %}#}
                <button class="btn btn-warning" data-toggle="modal" data-target="#modalBook">Забронировать</button>
{#                {% endif %}#}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">Написать</button>
                <button class="btn btn-warning" data-toggle="modal" data-target="#complainModal" >Пожаловаться</button>
            </div>
        </div>
    </div>
</section>

<!-- Modal Book -->
<div class="modal modal-book fade" id="modalBook" tabindex="-1" role="dialog" aria-labelledby="modalBookLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-window" role="document">
        <div class="modal-content modal-item">
            <div class="modal-header modal-top">
                <h4 class="modal-title modal-header-title" id="modalBookLabel">Забронировать</h4>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <label class="modal-book-author-label">
                    <input type="text" class="modal-book-author input-field" placeholder="Ф.И.О *">
                </label>
                <div class="modal-book-container">
                    <div class="modal-select-container">
                        <label>
                            <input name="book_email" type="email" class="modal-book-email input-field" placeholder="E-mail *">
                        </label>
                        <label>
                            <input name="phone" type="tel" class="modal-book-tel input-field" placeholder="Телефон *">
                        </label>
                        <label>
                            <select name="advert_source" class="custom-select">
                                <option value="" selected>Откуда узнали о нас</option>
                                <option value="1">Поисковая система</option>
                                <option value="2">Реклама в интернете</option>
                                <option value="3">Газета или журнал</option>
                                <option value="4">Порекомендовали знакомые</option>
                                <option value="5">Другое</option>
                            </select>
                        </label>
                        <label>
                            <select name="people_count" class="custom-select">
                                <option value="" selected>Количество человек *</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6+</option>
                            </select>
                        </label>
                    </div>
                    <div class="modal-select-container">
                        <div class="search-form-group" data-daterangepicker>
                            <div class="search-form-filter search-form-filter-calendar daterangepicker-from">
                                <span class="daterangepicker-text">
                                    <span class="daterangepicker-month">2 января</span>,
                                    <span class="daterangepicker-day">суббота</span>
                                </span>
                                <input name="book_date_from" type="hidden" value="">
                            </div>
                            <div class="search-form-filter search-form-filter-calendar daterangepicker-to">
                                <span class="daterangepicker-text">
                                    <span class="daterangepicker-month">15 января</span>,
                                    <span class="daterangepicker-day">суббота</span>
                                </span>
                                <input name="book_date_to" type="hidden" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="modal-subtitle">Дополнительная информация</h5>
                <label class="modal-book-label">
                    <textarea class="modal-textarea" placeholder="Текст"></textarea>
                </label>
            </div>
            <div class="modal-footer modal-bottom">
                <div class="modal-submit">
                    <label>
                        <input type="checkbox" class="submit" name="submit">
                    </label>
                    <p class="modal-submit-text">
                        Нажимая “готово” вы соглашаетесь <br> с правилами политики
                        <a href="">конфиденциальности</a>.
                    </p>
                </div>
                <button type="button" class="btn btn-warning btn-special book-button">Забронировать</button>
            </div>
        </div>
    </div>
</div>

{% include('@common/modules/partners/views/frontend/default/view/offers.twig') %}
{% include('@common/modules/partners/views/frontend/default/_modal_complain.twig') %}

{{ use('common/modules/reviews/widgets/frontend/ShowReviews') }}
{{ show_reviews_widget({
    'apartmentId' :  model.apartment.apartment_id,
}) }}

{{ use('common/modules/agency/widgets/frontend/AdvertisingAdvert') }}
{{ advertising_advert_widget() }}
