{{ use('common/modules/partners/widgets/frontend/RentTypePriceInfo') }}
{#<div class="advert-author-logo" style="background: url({{ model.apartment.user.profile.vip ? model.apartment.user.profile.avatar_url : '/basic-images/no-avatar.png' }}) center no-repeat;"></div>#}

{{ use('nepster/faceviewer/Widget') }}
{{ widget_widget({
    'template' : '<div class="advert-avatar">{face}</div>',
    'data' : {
        avatar_url: app.user.identity.avatar_url
    }
}) }}

<div class="advert-author-info">
    <div class="advert-author-info-item">
        <div class="advert-author-name">
            {{ UserHelper.getUserName(model.apartment.user)}}
        </div>
        <div class="advert-author-ad-number">
            Объявление № {{ model.advert_id }}
        </div>
    </div>
    <div class="advert-author-info-item">
        <div class="advert-author-info-owner">Владелец |</div>
        <span class="advert-info-online">
            {% if model.apartment.user.isOnline() %}
                Сейчас онлайн
            {% else %}
                <span style="color: #333333">
                    Последний визит {{ DateTimeHelper.diffAgoPeriodRound(model.apartment.user.time_activity) }}
                </span>
            {% endif %}
        </span>
        {# <span class="advert-info-price">
            {{ rent_type_price_info_widget({
                'adverts' : model.apartment.adverts,
                'advert' : model,
                'isText': true
            }) }}
        </span> #}
    </div>
    {# <div class="advert-author-info-item">
       {% if model.apartment.user.profile.vip %}
            {{ UserHelper.getUserName(model.apartment.user) }}
       {% endif %}
    </div> #}
    <div class="advert-author-info-item">
            {# if model.apartment.open_contacts #}
            <div class="advert-author-info-phone">
            {% if true %}
                <img src="/_new/images/icons/apartment/phone-orange.svg" alt="phone">
                <span>{{ UserHelper.formatPhone(model.apartment.user.phone) }}</span>
                {#            <div class="text-center">#}
                {#                <span class="btn btn-primary btn-special" onclick="writeMessage({{ model.apartment.user.id }})">#}
                {#                    Сообщение#}
                {#                </span>#}
                {#                {% if model.apartment.user.phone is empty %}#}
                {#                    &nbsp; &nbsp;#}
                {#                    <a href="{{ path({0: '/partners/reservation/advert-reservation', 'advert_id' : model.advert_id}) }}"#}
                {#                       class="btn btn-orange btn-special">Забронировать</a>#}
                {#                {% endif %}#}
                {#            </div>#}
            {% else %}
                <div class="text-center">
                <span class="btn btn-primary btn-special contactopenphone-btn" onclick="fast_payment_widget('{{ constant('SERVICE_CONTACTS_OPEN_TO_USER', Service) }}', {'advert_id' : {{ model.advert_id }} })">
                    Контакты
                </span>
                    <a href="{{ path({0: '/partners/reservation/advert-reservation', 'advert_id' : model.advert_id}) }}" class="btn btn-orange btn-special bronirovanie-btn">
                        Забронировать
                    </a>
                </div>
            {% endif %}
            </div>

            <button class="advert-author-contact" data-toggle="modal" data-target="#modalOwnerContacts" type="button">
                <img src="/_new/images/icons/apartment/contact.svg" alt="contact">
                Связаться
            </button>

        <div>
            
        </div>
    </div> 
    
</div>


{#{% if model.apartment.user.profile.vip %}#}
{#    <div class="modal fade" id="modal-user-info" data-title="Информация владельца">#}
{#        <h3>Владелец {{ UserHelper.getUserName(model.apartment.user) }}</h3>#}
{#        <br/>#}
{#        <h3>О себе:</h3>#}
{#        <p>{{ model.apartment.user.profile.about_me ?: 'Нет данных' }}</p>#}
{#        <br/>#}
{#        <h3>Дополнительная контактная информация:</h3>#}
{#        <p>#}
{#            <b>Дополнительный телефон:</b>#}
{#            {% if model.apartment.user.profile.phone2 %}#}
{#                {{ UserHelper.formatPhone(model.apartment.user.profile.phone2) }}#}
{#            {% else %}#}
{#                Нет данных#}
{#            {% endif %}#}
{#        </p>#}
{#        <p><b>Email:</b> {{ model.apartment.user.profile.email ?: 'Нет данных' }}</p>#}
{#        <p><b>Skype:</b> {{ model.apartment.user.profile.skype ?: 'Нет данных' }}</p>#}
{#        <p><b>Одноклассники:</b> {{ model.apartment.user.profile.ok ?: 'Нет данных' }}</p>#}
{#        <p><b>Вконтакте:</b> {{ model.apartment.user.profile.vk ?: 'Нет данных' }}</p>#}
{#        <p><b>Facebook:</b> {{ model.apartment.user.profile.fb ?: 'Нет данных' }}</p>#}
{#        <p><b>Twitter:</b> {{ model.apartment.user.profile.twitter ?: 'Нет данных' }}</p>#}
{#    </div>#}
{#{% endif %}#}



<div class="contact-popup modal modal-search fade show" id="modalOwnerContacts" tabindex="-1" role="dialog" aria-labelledby="modalOwnerContactsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-window" role="document">
        <div class="modal-content modal-item">
            <div class="modal-header modal-top">
                <h4 class="modal-title modal-header-title" id="modalOwnerContactsLabel">
                    Выберите удобный способ связи
                </h4>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body contact-popup-body">
                <div class="contact-popup-info">
                    <div class="contact-popup-tels">
                        <p class="contact-popup-name">
                            По телефону
                        </p>
                        <div class="contact-popup-list">

                            {% if model.apartment.user.phone %}
                                <a class="contact-popup-link" href="tel:{{model.apartment.user.phone}}">
                                    <img src="/_new/images/icons/apartment/phone-orange.svg" alt="phone">
                                    {{ UserHelper.formatPhone(model.apartment.user.phone) }}
                                </a>
                            {% endif %}
                            {% if model.apartment.user.profile.phone2 %}
                                <a class="contact-popup-link" href="tel:{{model.apartment.user.profile.phone2}}">
                                    <img src="/_new/images/icons/apartment/phone-orange.svg" alt="phone">
                                    {{ UserHelper.formatPhone(model.apartment.user.profile.phone2) }}
                                </a>
                            {% endif %}
                            {% if (not model.apartment.user.phone) and (not model.apartment.user.profile.phone2)%}
                                Нет данных
                            {% endif %}
                            {# <a class="contact-popup-link" href="+79009000002">
                                <img src="/_new/images/icons/apartment/phone-orange.svg" alt="phone">
                                +7 900 900 00 02
                            </a> #}
                        </div>
                    </div>
                    <div class="contact-popup-socials">
                        <p class="contact-popup-name">
                            Через соцсети
                        </p>
                        {% if model.apartment.user.profile.fb %}
                            {% set fb %}
                                <a class="contact-popup-link" href={{model.apartment.user.profile.fb}}>
                                    <img src="/_new/images/icons/apartment/facebook.svg" alt="facebook">
                                    {{model.apartment.user.profile.fb}}
                                </a>
                            {% endset %}
                        {% endif %}

                        {% if model.apartment.user.profile.skype %}
                            {% set skype %}
                                <a class="contact-popup-link" href={{ model.apartment.user.profile.skype }}>
                                    <img src="/_new/images/icons/apartment/skype.svg" alt="skype">
                                    {{ model.apartment.user.profile.skype }}
                                </a>
                            {% endset %}
                        {% endif %}

                        {% if model.apartment.user.profile.ok %}
                            {% set ok %}
                                <a class="contact-popup-link" href={{ model.apartment.user.profile.ok  }}>
                                    <img src="/_new/images/icons/apartment/classmates.svg" alt="classmates">
                                    {{ model.apartment.user.profile.ok  }}
                                </a>
                            {% endset %}
                        {% endif %}

                        {% if model.apartment.user.profile.vk %}
                            {% set vk %}
                                <a class="contact-popup-link" href="{{ model.apartment.user.profile.vk}}">
                                    <img src="/_new/images/icons/apartment/vkontakte.svg" alt="vkontakte">
                                    {{ model.apartment.user.profile.vk}}
                                </a>
                            {% endset %}
                        {% endif %}

                        {% if model.apartment.user.email %}
                            {% set email %}
                                <a class="contact-popup-link" href={{ model.apartment.user.email }}>
                                    <img src="/_new/images/icons/apartment/email.svg" alt="email">
                                    {{ model.apartment.user.email }}
                                </a>
                            {% endset %}
                        {% endif %}

                        {% if model.apartment.user.profile.twitter %}
                            {% set twitter %}
                                <a class="contact-popup-link" href={{ model.apartment.user.profile.twitter }}>
                                    <img src="/_new/images/icons/apartment/twitter.svg" alt="twitter">
                                    {{ model.apartment.user.profile.twitter }}
                                </a>
                            {% endset %}
                        {% endif %}

                        {% set allAvaibleContacts = [email, ok, vk, skype, twitter, fb]%}
                        {% set userContacts = [] %}
                        {% for contact in allAvaibleContacts %}
                            {% if contact %}
                                {% set userContacts = userContacts|merge([contact]) %}
                            {% endif %}
                        {% endfor %}

                        {% set firstColumn = []%}
                        {% set secondColumn = []%}

                        {% for contact in userContacts %}
                            {% if loop.index is odd %}
                                {% set firstColumn = firstColumn|merge([contact]) %}
                            {% else %}
                                {% set secondColumn = secondColumn|merge([contact]) %}
                            {% endif %}
                        {% endfor %}

                        <div class="contact-popup-wrapper">
                            {% for column in [firstColumn,secondColumn] %}
                                <div class="contact-popup-list">
                                    {% for contact in column %}
                                        {{ contact }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a class="contact-popup-btn" href="#">Написать сообщение</a>
            </div>
        </div>
    </div>
</div>