{#
    Статическая страница
    @var \yii\web\View this
    @var \frontend\pages\models\Page model
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} {{ this.registerTitle(model.title ~ ' | Сдаём.ру') }} {% endblock %}

{% block header %}
    {{ use('frontend/modules/site/widgets/BgHeader') }}
    {{ bg_header_widget({'title': model.name}) }}
{% endblock %}

{% block navbar_bottom %}{% endblock %}

{% block breadcrumbs %}
    
    <div class="container">
        <div class="breadcrumbs">
        
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
            {
                'label': model.name,
                'url': {0 : '/pages/default/index', 'url' : model.url},
            },
            ],
        }) }}

        <a href="{{ app.params['siteDomain'] }}/search" class="right-link breadcrumbs-links black">Доска объявлений</a> <a class="breadcrumbs-links right-link" href="{{ app.params['siteDomain'] }}">Квартиры от Сдаём.Ру</a> 
        </div>
    </div>
{% endblock %} 


{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : model.description }) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : model.keywords }) }}

    <div class="pages">
       
        <div class="container container-certain primary text">
            <div class="page-title-block"><div class="title-wrap"><h3>{{ model.title|raw }}</h3></div></div>
            {{ model.text|raw }}
        </div>
    </div>

{% endblock %}