{#
    Просмотр
    @var \yii\web\View this
    @var frontend\modules\partners\models\Advert adverts
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %}{{ this.registerTitle('Квартира посуточно в ' ~ city.name ~ '. Снять квартиру  на сутки без посредников | Сдаём.ру') }}{% endblock %}

{% block header %}
    {% set foo = {"f" : searchModel.rentTypesList[searchModel.sect]} %}
    {% if foo['f']  == 'Квартира на месяц' %}
        {% set fo = {'f': 'Квартиру на месяц' } %}
    {% elseif foo['f']  == 'Квартира на час' %}
        {% set fo = {'f': 'Квартиру на час' } %}
    {% elseif foo['f']  == 'Квартира на сутки' %}
        {% set fo = {'f': 'Квартиру посуточно' } %}
    {% elseif foo['f']  == 'Квартира на ночь' %}
        {% set fo = {'f': 'Квартиру на ночь' } %}
    {% endif %}
    {{ use('frontend/modules/site/widgets/BgHeader') }}
    {{ bg_header_widget({'title': 'Снять ' ~  fo['f']  ~ '  ' ~ city.name }) }}
{% endblock %}

{% block navbar %}
    {{ this.renderDynamic('return $this->render("@app/modules/office/views/layouts/navbar.twig");') | raw }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : app.params.siteDomain
            },
            'links':  [
                {
                    'label': 'Все объявления города ' ~ city.name,
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : ''}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : ''}) }}

    

    {{ use('frontend/modules/partners/widgets/PreviewAdvertBoard') }}
   
  
    <div class="board-search">
        <div class="container">
            <div class="filters">

                {{ use('yii/widgets/ActiveForm') }}
                {% set form = active_form_begin({
                    'method' : 'GET',
                    'action' : 'partners/pre-region',
                    'enableClientScript' : false,
                }) %}

                <div class="select-filter white">
                    <input name="city" type="text" class="form-control input-search city-drop-down-list" data-url="{{ path(['/geo/ajax/select-city']) }}" value="{{city.name}}" placeholder="Укажите Ваш город" />
                </div>

                {{ form.field(searchModel, 'sect', {
                    'options' : {
                        'class' : 'select-filter',
                        'style' : 'width: 230px',
                    },
                    'inputOptions' : {
                        'class' : 'select-white',
                    },
                    'template' : '{input}',
                }).dropDownList(searchModel.rentTypesList, {
                    'data-style' : 'white',
                }) | raw }}

                {{ form.field(searchModel, 'rooms', {
                    'options' : {
                        'class' : 'select-filter',
                        'style' : 'width: 210px',
                    },
                    'inputOptions' : {
                        'class' : 'select-white',
                    },
                    'template' : '{input}',
                }).dropDownList(searchModel.roomsList, {
                    'data-style' : 'white',
                }) | raw }}

                {{ form.field(searchModel, 'sort', {
                    'options' : {
                        'class' : 'select-filter',
                        'style' : 'width: 220px',
                    },
                    'inputOptions' : {
                        'class' : 'select-white',
                    },
                    'template' : '{input}',
                }).dropDownList({0 : 'Сортировать по дате', 1 : 'От дешёвых к дорогим', 2 : 'От дорогих к дешёвым'}) | raw }}


                <div class="select-filter white">
                    <input type="submit" class="btn btn-white" value="Поиск"/>
                </div>

                <div class="clearfix"></div>


                {{ form.field(searchModel, 'price_start', {
                    'options' : {
                        'class' : 'select-filter',
                        'style' : 'width: 245px',
                    },
                    'inputOptions' : {
                        'class' : 'select-white',
                    },
                    'template' : '{input}',
                    'enableClientValidation' : false,
                }).textInput({
                    'class' : 'form-control',
                    'placeholder' : 'Цена от',
                }) | raw }}

                {{ form.field(searchModel, 'price_end', {
                    'options' : {
                        'class' : 'select-filter',
                        'style' : 'width: 245px',
                    },
                    'template' : '{input}',
                    'enableClientValidation' : false,
                }).textInput({
                    'class' : 'form-control',
                    'placeholder' : 'Цена до',
                }) | raw }}


                {{ form.field(searchModel, 'online_user', {
                    'options' : {
                        'class' : 'select-filter radiobox',
                        'style' : 'width: 290px',
                    },
                    'template' : '{input}',
                }).checkbox({

                }) | raw }}

                {{ form.field(searchModel, 'now_available', {
                    'options' : {
                        'class' : 'select-filter radiobox',
                        'style' : 'width: 200px;',
                    },
                    'template' : '{input}',
                }).checkbox({

                }) | raw }}


                {% if city.name_eng == 'msk' %}
                    {{ use('common/modules/geo/assets/frontend/MetroMskAsset') }}
                    {{ register_metro_msk_asset() }}
                    
                        <div class="msk-map">
                            <div class="title"><span id="open-subway-map" data-url="{{ path({'0' : '/partners/default/region', 'city' : 'msk'}) }}">Поиск по метро</span></div>
                            <div class="modal fade" id="modal-subway-map" data-title="Выбрать на карте Москвы">
                                 <div class="form-group text-center">
                                    <input type="button" class="close-modal btn btn-primary" value="Выбрать" />
                                </div>
                                <div class="map"></div> <br />
                                <div class="form-group text-center">
                                    <input type="button" class="close-modal btn btn-primary" value="Выбрать" />
                                </div>
                            </div>
                        </div>
                   
                {% endif %}
                <div class="hidden-xs"><a href="{{ path({ 0: '/geo/default/index', 'city': city.name_eng}) }}" class="header-img map-xs-2" >Поиск по карте</a></div>
                {{ active_form_end() }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="visible-xs" style="text-align:center"><a href="{{ path({ 0: '/geo/default/index', 'city': city.name_eng}) }}" class="header-img map-xs" >Открыть карту</a></div>
    </div>

    <p><br></p>
{# Слайдер с рекламой #}
    {{ use('frontend/modules/partners/widgets/AdvertisingTopSliderAdverts') }}
    {{ advertising_top_slider_adverts_widget() }}
    {% if searchModel.rentTypesList[searchModel.sect] %}
        <div class="container">
            <h2 style="font-size: 180%; color: #35ACC0">{{ searchModel.rentTypesList[searchModel.sect] }}</h2>
            <br/>
        </div>
    {% endif %}

    {% if topAdverts %}
        <div class="container">

            <ul class="section-title top">
                <li>Топ-объявления</li>
                <li><a href="{{path({0 : '/office/default/services', '#' : constant('SERVICE_ADVERT_IN_TOP', Service) }) }}">Попасть в топ!</a></li>
            </ul>

            <div class="clearfix">
                {% for topAdvert in topAdverts %}
                    {{ preview_advert_board_widget({'advert': topAdvert}) }}
                {% endfor %}
            </div>

        </div>

        <p><br/></p>

    {% endif %}

    <div class="container">

        <ul class="section-title">
            <li>Все объявления</li>
        </ul>

        <div class="clearfix">
            {% for advert in dataProvider.getModels() %}
                {{ preview_advert_board_widget({'advert': advert}) }}
            {% endfor %}
        </div>

        {% if dataProvider.getModels() is empty %}
            <div class="alert alert-danger" role="alert">
                Апартаменты не найдены.
            </div>
        {% endif %}

        <div class="clearfix"></div> <br/>

        {{ use('yii/widgets/LinkPager') }}
        {{ link_pager_widget({
            'pagination': dataProvider.getPagination(),
            'firstPageLabel' : 'В начало',
            'lastPageLabel' : 'В конец',
        }) }}

    </div>
        {% if articles is not empty %}
        <div class="article-block-wrap">
            <div class="container articles-block clearfix">
                <div class="d-title"><h4>Новости от Сдаем.ру</h4></div>
                {% for article in articles %}
                    <div class="item-article col-md-4">

                        <div class="item-img" style="background: url(/images/{{ article.title_img | raw }})center center;">
                            <a  class='link-on-image-2' href="{{ path('/articles/default/view', {'id' : article.slug}) }}"></a>
                        </div>
                        <div class="title-article-big"><h4><a href="{{ path('/articles/default/view', {'id' : article.slug}) }}">{{ article.name }}</a></h4></div>
                        <div class="article-shorttext-block">
                            <p class="article-text"> {{ article.short_text | raw }} </p>
                            <a href="{{ path('/articles/default/view', {'id' : article.slug}) }}">Читать полностью >></a>
                        </div>
                    </div>

                    <div class="col-md-8 articles-block-2">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="row">
                                    {% for article in articlesall2 %}

                                        <div class="col-md-4 item-article-3">
                                            <div class="row">
                                                <div class="col-md-5" style="padding:5px;">
                                                    <div class="item-img" style="background: url(/images/{% if article.title_img is not empty %}{{ article.title_img | raw }}){% else %}article-not-image.jpg){% endif %}center center;background-size: cover;">
                                                        <a  class='link-on-image-2' href="{{ path('/articles/default/view', {'id' : article.slug}) }}"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="title-article-wrap">
                                                        <a  class='title-articleall-2' href="{{ path('/articles/default/view', {'id' : article.slug}) }}">{{ article.name }}</a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </div>

                {% endfor %}
                <div class="all-articles-link">
                    <a class="newblue-btn" href="{{ path(['/articles/default/news']) }}"><span>Все Новости</span></a>
                </div>
            </div>
        </div>
    {% endif %}
  

{% endblock content %}

{% block footer %}
    {% include "@app/themes/basic/layouts/footer-partners.twig" %}


{% endblock %}