{#
    Все статьи
    @var \yii\web\View this
    @var \common\modules\articles\models\Acticle model
    @var \common\modules\articles\models\Acticle models
    @var \yii\data\Pagination pages
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block title %} {{ this.registerTitle('Статьи, которые помогут Снять Квартиру в Москве и области | Сдаём.ру') }} {% endblock %}

{% block bodyClass %}l-base p-news{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Новости',
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : 'Как правильно выбрать квартиру на час в Москве и области. Для чего снимают квартиры на час в Москве и области. Квартиры на сутки выручат в сложной ситуации.'}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : 'Выбрать квартиру, статьи об аренде, как снять квартиру, аренда квартир плюсы, квартиры посуточно, квартира на час, квартира на сутки, снять квартиру на сутки, квартира на ночь, снять квартиру на ночь, квартира на месяц'}) }}

    {{ use('common/modules/articles/assets/ArticlesAsset') }}
    {{ register_articles_asset() }}

    <section class="news-list">
        <div class="container-fluid">
            <h2 class="section-title">Новости</h2>
            <div class="news-wrapper">

                {% for article in models %}
                    <div class="news-card-wrapper">
                        <div class="news-card">
                            <a href="{{ path('/articles/default/view', {'id' : article.slug}) }}">
                                <img class="news-image" src="{{ article.getTitleImg() }}" alt="news-image">
                            </a>
                            <div class="news-item">
                                <div class="news-publication-date">{{ article.date_create|date('m.d.Y') }}</div>
                                <h2 class="news-subtitle">
                                    <a href="">
                                        {{ article.name }}
                                    </a>
                                </h2>
                                <div class="news-text">
                                    {{ article.description }}
                                </div>
                                <a class="btn btn-warning" href="{{ path('/articles/default/view', {'id' : article.slug}) }}">Читать полностью</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        Статьи не найдены.
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section class="pagination">
        <div class="container-fluid">

            <ul class="pagination-panel-pages">
                <li class="pagination-page"><a href="#">1</a></li>
                <li class="pagination-page pagination-more">...</li>
                <li class="pagination-page"><a href="#">7</a></li>
                <li class="pagination-page"><a class="is-active" href="#">8</a></li>
                <li class="pagination-page"><a href="#">9</a></li>
                <li class="pagination-page pagination-more">...</li>
                <li class="pagination-page"><a href="#">42</a></li>
            </ul>
            <ul class="pagination-panel-arrows">
                <li class="pagination-arrows pagination-previous"><a href="#"></a></li>
                <li class="pagination-arrows pagination-next"><a href="#"></a></li>
            </ul>
        </div>
    </section>

{# TODO: right pagination widget #}
    <section class="pagination">
        <div class="container-fluid">

    {% if models %}

        {{ use('yii/widgets/LinkPager') }}

        {{ link_pager_widget({
            'pagination': pages,
            'activePageCssClass': 'is-active',
            'options': {
                'class': 'pagination-panel-pages'
            },
            'pageCssClass': 'pagination-page',
            'maxButtonCount': 5
        }) }}

    {% endif %}

        </div>
    </section>


    </div>
{% endblock %}