{#
    Просмотр статьи
    @var \yii\web\View this
    @var \common\modules\articles\models\Acticle model
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block title %} {{ this.registerTitle(model.title) }} {% endblock %}

{% block bodyClass %}l-base p-static{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Статьи',
                    'url': ['/articles/default/index'],
                    'template': '<span>{link}</span>\n'
                },
                {
                    'label': model.name,
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : model.description}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : model.keywords}) }}

    {{ use('common/modules/articles/assets/ArticlesAsset') }}
    {{ register_articles_asset() }}

    <section class="static-container">
    <div class="container-fluid">
        <h1>{{ model.name }}</h1>
        {% if model.full_text is empty %}
            {% if model.short_text is empty %}
                Статья находится в стадии наполнения информацией.
            {% else %}
                {{ model.short_text | raw }}
            {% endif %}
        {% else %}
            {{ model.full_text | raw }}
        {% endif %}
    </div>

{% endblock %}