{#
    Статическая страница
    @var \yii\web\View this
    @var \frontend\pages\models\Page model
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': model.title ~ ' | Сдаём.ру',
        'description':  model.description,
        'keywords': model.keywords,
    } %}
{% endblock %}

{% block bodyClass %}l-base p-static{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': model.title,
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ use('common/modules/pages/assets/PagesAsset') }}
    {{ register_pages_asset() }}

    <section class="static-container">
        <div class="container-fluid">
            {{ model.text|raw }}
        </div>
    </section>
{% endblock %}