{#
    @var common\modules\partners\models\SearchAdverts searchModel
    @var \yii\web\View this
    @var string searchTitle
    @var bool index
#}
<div class="board-search">
    <div class="container">
        <div class="description">
            <div class="title d-title">
                {% if searchTitle is not empty %}
                    <h4>{{ searchTitle }}</h4>
                {% endif %}
            </div>

            {% if index is not null %}
                <div class="msk-map clearfix">
                    <div class="title"><span id="open-subway-map"
                                             data-url="{{ path({'0' : '/partners/default/region', 'city' : 'msk'}) }}">Поиск по метро</span>
                    </div>
                    <div class="modal fade" id="modal-subway-map" data-title="Выбрать на карте Москвы">
                        <div class="form-group text-center">
                            <input type="button" class="close-modal btn btn-primary" value="Выбрать"/>
                        </div>
                        <div class="map"></div>
                        <br/>
                        <div class="form-group text-center">
                            <input type="button" class="close-modal btn btn-primary" value="Выбрать"/>
                        </div>
                    </div>
                </div>
            {% endif %}

            <!--<div class="board-search-nav">
                <div class="text-right">
                    <a href="{{ path(['/office/default/index']) }}">Личный кабинет</a>
                    <a href="{{ path(['/partners/default/index']) }}">Доска объявлений</a>
                </div>
            </div>-->
        </div>

        <div class="filters">
            {{ html.beginForm('/partners/pre-region', 'GET')| raw }}
            <!-- <div class="select-filter white" style="width: 200px">
                 <select name="sect" class="select-white">
            {% for key, rentType in searchModel.rentTypesList %}
                <option value="{{ key }}" {{ key == 2 ? 'selected="selected"' : '' }}>{{ rentType }}</option>
            {% endfor %}
        </select>
    </div>-->
            <!--<div class="select-filter white" style="width: 130px">
                <select name="rooms" class="select-white">
            {% for key, room in searchModel.roomsList %}
                <option value="{{ key }}">{{ room }}</option>
            {% endfor %}
        </select>
    </div>-->
            <div class="select-filter white new_search_style" style="width: 600px">
                <input name="city" type="text" class="form-control input-search city-drop-down-list"
                       data-url="{{ path(['/geo/ajax/select-city']) }}" value="" placeholder="Укажите Ваш город"/>
                <input type="submit" class="btn btn-primary btn-orange-style" value="Искать"/>
            </div>
            <div class="select-filter new_search_style custom">

            </div>

            <div class="new_search_style-filter">
                <div class="select-filter lightblue">
                    <a href="{{ path(['/partners/office/create']) }}" class="btn new_btn-lighblue">Подать
                        обЪявление</a>
                </div>
                <div class="select-filter lightblue">
                    <a href="{{ path(['/partners/reservation/index']) }}" class="btn new_btn-fulllighblue">Быстро
                        снять</a>
                </div>
            </div>

            {{ html.endForm() | raw }}
        </div>
        <div class="clearfix"></div>
    </div>
</div>