{#
    @var common\modules\partners\models\SearchAdverts searchModel
    @var \yii\web\View this
    @var string searchTitle
    @var bool index
#}

<section class="intro">
    <h1 class="section-title">Доска объявлений</h1>
    <div class="search">
        <div class="container-fluid">
            <div class="form">
                <div class="search-container">
                    <h2 class="search-title">
                        {% if searchTitle is not empty %}
                            {{ searchTitle }}
                        {% endif %}
                    </h2>
                    <div class="search-navs-container">
                        <a href="{{ path(['/partners/office/create']) }}">Добавить объявление</a>
                        <a href="{{ path(['/partners/reservation/index']) }}">Быстро снять</a>
                        <a href="{{ path(['/office/default/index']) }}">Личный кабинет</a>
                    </div>
                </div>
                <form method="get" action="{{ path(['/partners/pre-region']) }}">
                    <div class="search-filters">
                        <div class="search-filter search-filter-city">
                            <span class="search-filter-text">Укажите ваш город</span>
                            <label>
                                <input class="form-control input-search city-drop-down-list"
                                       id="search-form-autocomplete"
                                       type="text"
                                       data-url="{{ path(['/geo/ajax/select-city']) }}" name="city"
                                       autocomplete="off"
                                       placeholder="Укажите ваш город">
                                <input type="hidden" name="city_code" id="search-form-autocomplete-selected" value="msk">
                            </label>
                        </div>
                        <div class="search-filters-container">
                            <div class="search-filter search-filter-type">
                                <span class="search-filter-text">Выберите тип аренды</span>
                                <label>
                                    <label>
                                        <select class="custom-select" name="sect">
                                            {% for key, rentType in searchModel.rentTypesList %}
                                                <option value="{{ key }}" {{ key == 2 ? 'selected="selected"' : '' }}>{{ rentType }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </label>
                            </div>
                            <div class="search-filter search-filter-rooms">
                                <span class="search-filter-text search-filter-text-rooms">Комнаты:</span>
                                <label>
                                    <label>
                                        <select class="custom-select" name="rooms">
                                            {% for key, room in searchModel.roomsList %}
                                                <option value="{{ key }}">{{ room }}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="search-btn-container">
                        <button type="submit" class="btn btn-warning btn-special btn-add">Поиск объявлений</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
