{#
    Доска объявлений
    @var \yii\web\View this
    @var common\modules\geo\models\City city
    @var common\modules\partners\models\frontend\search\AdvertSearch searchModel
    @var ommon\modules\partners\models\frontend\Advert topAdverts
    @var yii\data\ActiveDataProvider dataProvider
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}
{% set currentRentType = searchModel.rentTypesList[app.request.get("sect") | default(1)]%}
{% set currentCityName = app.request.getCurrentCitySubDomain() %}
{% set currentCity = CityHelper.findCityByName(currentCityName | default('msk')) %}
{% set city = city | merge(currentCity) %}
{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': currentRentType ~ ' в ' ~ CityHelper.formatInPrepositionalCase(city.name) ~ '. Снять квартиру  на сутки без посредников | Сдаём.ру',
        'description':  '',
        'keywords': '',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-board{% endblock %}

{% block content %}

    {{ use('common/modules/partners/assets/frontend/RegionAsset') }}
    {{ register_region_asset() }}

    {{ use('common/modules/partners/widgets/frontend/PreviewAdvertBoard') }}

    <section class="intro">
        <div class="lookup-board">
            <form action="{{ path(['/partners/default/pre-region']) }}" method="get" class="container-fluid">
                {% include "@common/modules/partners/views/frontend/default/_search_form.twig" %}
                <div class="lookup-board-buttons">
                    <a href="{{ path(['/geo/default/index']) }}" class="btn btn-special button-map">
                        НА КАРТЕ
                    </a>
                    <button type="submit" class="btn btn-warning btn-special">НАЙТИ</button>
                </div>
                {% include "@common/modules/partners/views/frontend/default/_modal_search_filters.twig" with {} %}
            </form>
        </div>
    </section>

    {# Слайдер с рекламой #}
    {{ use('common/modules/partners/widgets/frontend/AdvertisingTopSliderAdverts') }}
    {{ advertising_top_slider_adverts_widget() }}

    {% if topAdverts %}
        <section class="top-advert">
            <div class="container-fluid">
                <h2 class="section-title">Топ объявления</h2>
            </div>
            <div class="top-advert-slider">
                {% for topAdvert in topAdverts %}
                    {{ preview_advert_board_widget({'advert': topAdvert}) }}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="apartment-list mt-4">
        <div class="container-fluid">
            <div class="apartment-container">
                <h2 class="section-title">{{ currentRentType }} в {{CityHelper.formatInPrepositionalCase(city.name)}}</h2>
                <a href="{{ path(['/partners/reservation/index']) }}" class="btn btn-warning" target="_blank">БЫСТРО СНЯТЬ</a>
            </div>
            <div class="apartment-card-container">
                {% for advert in dataProvider.getModels() %}
                    {{ preview_advert_board_widget({'advert': advert}) }}
                {% endfor %}
                {% if dataProvider.getModels() is empty %}
                    <div class="alert alert-danger" role="alert">
                        Апартаменты не найдены.
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {{ use('common/widgets/frontend/CustomLinkPager') }}
    {{ custom_link_pager_widget({
        'pagination': dataProvider.getPagination()
    }) }}

{% endblock content %}
