{#
    Доска объявлений
    @var \yii\web\View this
    @var common\modules\partners\models\Advert adverts
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Квартира посуточно в ' ~ city.name ~ '. Снять квартиру  на сутки без посредников | Сдаём.ру',
        'description':  '',
        'keywords': '',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-board{% endblock %}

{% block content %}

    {{ use('common/modules/partners/assets/frontend/RegionAsset') }}
    {{ register_region_asset() }}

    {{ use('common/modules/partners/widgets/frontend/PreviewAdvertBoard') }}

    <section class="intro">
        <div class="lookup-board">
            <div class="container-fluid">
                <div class="lookup-board-form">
                    <div class="lookup-board-filter lookup-board-filter-city">
                        <span class="lookup-board-filter-text">Город</span>
                        <label>
                            <input id="search-form-autocomplete" name="city" type="text" class="form-control input-search city-drop-down-list" data-url="{{ path(['/geo/ajax/select-city']) }}" value="{{city.name}}" placeholder="Город" />
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-type">
                        <span class="lookup-board-filter-text">Выберите тип аренды</span>
                        <label>
                            <select class="custom-select">
                                {% for rentType in searchModel.rentTypesList %}
                                <option {{ loop.index == 1 ? 'selected' : '' }}>{{ rentType }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-rooms">
                        <span class="lookup-board-filter-text">Количество комнат</span>
                        <label>
                            <select class="custom-select">
                                {% for room in searchModel.roomsList %}
                                    <option {{ loop.index == 1 ? 'selected' : '' }}>{{ room }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-adress">
                        <span class="lookup-board-filter-text">Введите адрес</span>
                        <label>
                            <input name="address" class="form-control" id="lookup-board-form-autocomplete" type="text" autocomplete="off" placeholder="Адрес, метро">
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-price">
                        <span class="lookup-board-filter-text">Цена</span>
                        <div class="lookup-board-filter-price-container">
                            <label>
                                <input name="price_start" class="form-control lookup-board-price lookup-board-price-min" type="number" value="Цена от" placeholder="Цена от">
                            </label>
                            <label>
                                <input name="price_end" class="form-control lookup-board-price lookup-board-price-max" type="number" value="Цена до" placeholder="Цена до">
                            </label>
                        </div>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-search">
                        <button data-toggle="modal" data-target="#modalSearch" class="form-control lookup-board-search">РАСШИРЕННЫЙ ПОИСК</button>
                    </div>
                </div>
                <div class="lookup-board-buttons">
                    <a href="{{ path({ 0: '/geo/default/index', 'city': city.name_eng}) }}" class="btn btn-special button-map">НА КАРТЕ</a>
                    <button class="btn btn-warning btn-special">НАЙТИ</button>
                </div>
            </div>
        </div>
    </section>

    {# Слайдер с рекламой #}
    {{ use('common/modules/partners/widgets/frontend/AdvertisingTopSliderAdverts') }}
    {{ advertising_top_slider_adverts_widget() }}

    {% if topAdverts %}
        <section class="top-advert">
            <div class="container-fluid">
                <h2 class="section-title">Топ объявления</h2>
            </div>
            <div class="top-advert-slider">
                {% for topAdvert in topAdverts %}
                    {{ preview_advert_board_widget({'advert': topAdvert}) }}
                {% endfor %}
            </div>
        </section>
    {% endif %}

    <section class="apartment-list mt-4">
        <div class="container-fluid">
            <div class="apartment-container">
                <h2 class="section-title">Снять квартиру на сутки в Москве</h2>
                <a href="{{ path(['/partners/reservation/index']) }}" class="btn btn-warning" target="_blank">БЫСТРО СНЯТЬ</a>
            </div>
            <div class="apartment-card-container">
                {% for advert in dataProvider.getModels() %}
                    {{ preview_advert_board_widget({'advert': advert}) }}
                {% endfor %}
                {% if dataProvider.getModels() is empty %}
                    <div class="alert alert-danger" role="alert">
                        Апартаменты не найдены.
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    {{ use('common/widgets/frontend/CustomLinkPager') }}
    {{ custom_link_pager_widget({
        'pagination': dataProvider.getPagination()
    }) }}

{% endblock content %}
