{#
    Просмотр
    @var \yii\web\View this
    @var common\modules\partners\models\Advert model
    @var common\modules\helpdesk\models\Helpdesk helpdesk
    @var array otherAdverts
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %}{{ this.registerTitle('Снять ' ~ model.apartment.total_rooms ~ ' -комнатная ' ~ model.rentType.name ~ ' г. ' ~ model.apartment.city.name ~ ', ' ~ model.apartment.address) ~ ' | Сдаём.ру' }}{% endblock %}

{% block navbar %}
    {{ this.renderDynamic('return $this->render("@common/modules/office/views/frontend/layouts/navbar.twig");') | raw }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : app.params.siteDomain
            },
            'links':  [
                {
                    'label': model.rentType.name,
                    'url' : app.request.hostInfo ~ '/?sect=' ~ model.rentType.rent_type_id
                },
                {
                    'label': '№ ' ~ model.advert_id,
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' :'Стоимость аренды '~model.apartment.total_rooms~'-комнатная '~model.rentType.name~' г. '~model.apartment.city.name~', '~model.apartment.address~' - '~model.metaTagsPrice}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : model.rentType.meta_keywords}) }}

    {{ use('common/modules/partners/widgets/frontend/PreviewAdvert') }}

    {{ use('common/modules/partners/assets/frontend/ApartmentAsset') }}
    {{ register_apartment_asset() }}

    {# Подключение JavaScript yandex map #}
    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_y_map_asset() }}

    {# Регистрация файлов для light box #}
    {{ use('frontend/themes/basic/assets/LightBoxAsset') }}
    {{ register_light_box_asset() }}



    {{ this.render('@common/modules/partners/views/frontend/default/view/apartment.twig', {
        'model': model,
        'otherAdverts': res,
    }) | raw }}

    {{ use('common/modules/helpdesk/assets/HelpdeskAsset') }}
    {{ register_helpdesk_asset() }}

{% endblock content %}

{% block footer %}
    {{ this.render("@app/themes/basic/layouts/footer-partners.twig") | raw }}
{% endblock %}