{#
    Просмотр
    @var \yii\web\View this
    @var common\modules\partners\models\Advert model
    @var common\modules\helpdesk\models\Helpdesk helpdesk
    @var array otherAdverts
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Снять - ' ~ model.apartment.total_rooms ~ ' -комнатная ' ~ model.rentType.name ~ ' г. ' ~ model.apartment.city.name ~ ', ' ~ model.apartment.address ~ ' | Сдаём.ру',
        'description': 'Стоимость аренды '~model.apartment.total_rooms~'-комнатная '~model.rentType.name~' г. '~model.apartment.city.name~', '~model.apartment.address~' - '~model.metaTagsPrice,
        'keywords': model.rentType.meta_keywords
    } %}
{% endblock %}

{% block bodyClass %}l-base p-apartment{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : app.params.siteDomain
            },
            'links':  [
                {
                    'label': model.rentType.name,
                    'url' : app.request.hostInfo ~ '/?sect=' ~ model.rentType.rent_type_id
                },
                {
                    'label':  model.apartment.address ~ (model.apartment.apartment ? ', кв.'~model.apartment.apartment),
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/partners/widgets/frontend/PreviewAdvert') }}

    {{ use('common/modules/partners/assets/frontend/ApartmentAsset') }}
    {{ register_apartment_asset() }}

    {# Подключение JavaScript yandex map #}
    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_y_map_asset() }}

    {{ this.render('@common/modules/partners/views/frontend/default/view/apartment.twig', {
        'model': model,
        'otherAdverts': res,
    }) | raw }}

{% endblock content %}

{% block additional_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            var advertCoords = [55.76, 37.64];

            ymaps.ready(init);
            function init(){
                var myMap = new ymaps.Map("map", {
                    center: advertCoords,
                    zoom: 15,
                    controls: []
                });

                createMarker(myMap)

                myMap.behaviors.disable('scrollZoom');

                let keyPressed = false;
                let keyMessageVisible = false;
                let timer;
                const keyMessageSelector = '#ymap_key_display';

                // Отслеживаем скролл мыши на карте, чтобы показывать уведомление
                myMap.events.add(['wheel', 'mousedown'], function(e) {
                    if (e.get('type') == 'wheel') {
                        if (!keyPressed) { // Ctrl не нажат, показываем уведомление
                            $(keyMessageSelector).fadeIn(300);
                            keyMessageVisible = true;
                            clearTimeout(timer); // Очищаем таймер, чтобы продолжать показывать уведомление
                            timer = setTimeout(function() {
                                $(keyMessageSelector).fadeOut(300);
                                keyMessageVisible = false;
                            }, 1500);
                        }
                        else { // Ctrl нажат, скрываем сообщение
                            $(keyMessageSelector).fadeOut(100);
                        }
                    }
                    if (e.get('type') == 'mousedown' && keyMessageVisible) { // Скрываем уведомление при клике на карте
                        $(keyMessageSelector).fadeOut(100);
                    }
                });

                // Обрабатываем нажатие на Клавиши
                $(document).keydown(function(e) {
                    // if (e.which === 17 && !ctrlKey) { // Ctrl нажат: включаем масштабирование мышью
                    if (e.which === 16 && !keyPressed) { // Shift нажат: включаем масштабирование мышью
                        keyPressed = true;
                        myMap.behaviors.enable('scrollZoom');
                    }
                });
                $(document).keyup(function(e) {
                    // if (e.which === 17) { // Ctrl не нажат: выключаем масштабирование мышью
                    if (e.which === 16) { // Shift не нажат: выключаем масштабирование мышью
                        keyPressed = false;
                        myMap.behaviors.disable('scrollZoom');
                    }
                });
            }

            function createMarker(myMap) {
                var myPlacemark = new ymaps.Placemark(advertCoords, {}, {
                    iconLayout: 'default#image',
                    iconImageHref: './images/icons/apartment/mapMarker.svg',
                    iconImageSize: [32, 30]
                });

                myMap.geoObjects.add(myPlacemark);
            }
        });
    </script>
{% endblock %}
