{#
    Просмотр
    @var \yii\web\View this
    @var common\modules\partners\models\Advert model
    @var common\modules\helpdesk\models\Helpdesk helpdesk
    @var array otherAdverts
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Снять - ' ~ model.apartment.total_rooms ~ ' -комнатная ' ~ model.rentType.name ~ ' г. ' ~ model.apartment.city.name ~ ', ' ~ model.apartment.address ~ ' | Сдаём.ру',
        'description': 'Стоимость аренды '~model.apartment.total_rooms~'-комнатная '~model.rentType.name~' г. '~model.apartment.city.name~', '~model.apartment.address~' - '~model.metaTagsPrice,
        'keywords': model.rentType.meta_keywords
    } %}
{% endblock %}

{% block bodyClass %}l-base p-apartment{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : app.params.siteDomain
            },
            'links':  [
                {
                    'label': model.rentType.name,
                    'url' : app.request.hostInfo ~ '/?sect=' ~ model.rentType.rent_type_id
                },
                {
                    'label':  model.apartment.address ~ (model.apartment.apartment ? ', кв.'~model.apartment.apartment),
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/partners/widgets/frontend/PreviewAdvert') }}

    {{ use('common/modules/partners/assets/frontend/ApartmentAsset') }}
    {{ register_apartment_asset() }}

    {# Подключение JavaScript yandex map #}
    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_y_map_asset() }}

    {{ this.render('@common/modules/partners/views/frontend/default/view/apartment.twig', {
        'model': model,
        'otherAdverts': res,
    }) | raw }}

{% endblock content %}


