{#
    Помощь
    @var \yii\web\View this
    @var common\modules\pages\models\Page page
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block title %}{{ this.registerTitle(page.title) }}{% endblock %}

{#{% block header %}#}
{#    {{ use('common/modules/site/widgets/BgHeader') }}#}
{#    {{ bg_header_widget({'title': 'Помощь'}) }}#}
{#{% endblock %}#}

{#{% block navbar %}#}
{#    {{ this.renderDynamic('return $this->render("@common/modules/office/views/frontend/layouts/navbar.twig");') | raw }}#}
{#{% endblock %}#}

{% block bodyClass %}l-base p-help{% endblock %}

{% block divMainClass %}help{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Помощь',
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : page.description }) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : page.keywords }) }}

    {{ use('common/modules/site/assets/AppAsset') }}
    {{ register_app_asset() }}

    {{ use('common/modules/helpdesk/assets/HelpdeskAsset') }}
    {{ register_helpdesk_asset() }}


    {{ this.render("_nav-help.twig") | raw }}

    <div class="container help container-certain orange text clearfix">
        <div class="help-text">
            {% if page.text %}
                {{ page.text | raw }}
            {% else %}
                <p>Информация в стадии наполнения.</p>
            {% endif %}
        </div>
    </div>


{% endblock content %}
