{#
    Обращение в тех. поддержку
    @var \yii\web\View this
    @var \common\helpdesk\models\Helpdesk model
    @var \common\helpdesk\models\form\HelpdeskForm formModel
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block title %} Помощь в аренде квартир и загородных домов | Сдаём.ру {% endblock %}

{% block bodyClass %}l-base p-help{% endblock %}

{% block divMainClass %}help{% endblock %}


{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Помощь',
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : 'Сдаём.ру связь с администрацией. Помощь в Аренде Квартир и загородных домов. Поиск жилья. Снять или сдать жилье. Keywords: Квартира на сутки, сдать квартиру, сдача жилья в аренду, снять квартиру на сутки, квартира на сутки недорого, квартиры на сутки без посредников, снять квартиру на сутки не дорого, снять квартиру на сутки без посредников'}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : 'Сдаём.ру связь с администрацией. Помощь в Аренде Квартир и загородных домов. Поиск жилья. Снять или сдать жилье. Keywords: Квартира на сутки, сдать квартиру, сдача жилья в аренду, снять квартиру на сутки, квартира на сутки недорого, квартиры на сутки без посредников, снять квартиру на сутки не дорого, снять квартиру на сутки без посредников'}) }}

    {{ use('common/modules/site/assets/AppAsset') }}
    {{ register_app_asset() }}

    {{ use('common/modules/helpdesk/assets/HelpdeskAsset') }}
    {{ register_helpdesk_asset() }}


    {{ this.render("@common/modules/helpdesk/views/frontend/default/_nav-help.twig") | raw }}

{% endblock %}

{% block additional_content %}

    {{ this.render('_form.twig', {'model' : model, 'formModel' : formModel}) | raw }}

    {% if app.session.hasFlash('danger') %}
        {{ app.session.getFlash('danger') | raw }}
    {% endif %}
    {% if app.session.hasFlash('success') %}
        {{ app.session.getFlash('success') | raw }}
    {% endif %}

{% endblock %}