{#
    Помощь
    @var \yii\web\View this
    @var common\modules\pages\models\Page page
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': page.title ~ ' | Сдаём.ру',
        'description':  page.description,
        'keywords': page.keywords,
    } %}
{% endblock %}

{% block bodyClass %}l-base p-help p-static{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Помощь',
                    'url' : ['/helpdesk/default/help'],
                    'template': '<span>{link}</span>\n'
                },
                {
                    'label': page.title,
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/helpdesk/assets/HelpAsset') }}
    {{ register_help_asset() }}

    <section class="static-container">
        <div class="container-fluid">
            {% if page.text %}
                {{ page.text | raw }}
            {% else %}
                <p>Информация в стадии наполнения.</p>
            {% endif %}
        </div>
    </section>

{% endblock content %}
