{#
    Обращение в тех. поддержку
    @var \yii\web\View this
    @var \common\helpdesk\models\Helpdesk model
    @var \common\helpdesk\models\form\HelpdeskForm formModel
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block title %} Помощь в аренде квартир и загородных домов | Сдаём.ру {% endblock %}

{% block divMainClass %}help{% endblock %}

{#{% block header %}#}
{#    {{ use('common/modules/site/widgets/BgHeader') }}#}
{#    {{ bg_header_widget({'title': 'Помощь'}) }}#}
{#{% endblock %}#}


{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Помощь',
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : 'Сдаём.ру связь с администрацией. Помощь в Аренде Квартир и загородных домов. Поиск жилья. Снять или сдать жилье. Keywords: Квартира на сутки, сдать квартиру, сдача жилья в аренду, снять квартиру на сутки, квартира на сутки недорого, квартиры на сутки без посредников, снять квартиру на сутки не дорого, снять квартиру на сутки без посредников'}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : 'Сдаём.ру связь с администрацией. Помощь в Аренде Квартир и загородных домов. Поиск жилья. Снять или сдать жилье. Keywords: Квартира на сутки, сдать квартиру, сдача жилья в аренду, снять квартиру на сутки, квартира на сутки недорого, квартиры на сутки без посредников, снять квартиру на сутки не дорого, снять квартиру на сутки без посредников'}) }}

    {{ use('common/modules/site/assets/AppAsset') }}
    {{ register_app_asset() }}

    {{ use('common/modules/helpdesk/assets/HelpdeskAsset') }}
    {{ register_helpdesk_asset() }}

    <div class="container help clearfix">
        {{ this.render("@common/modules/helpdesk/views/frontend/default/_nav-help.twig") | raw }}
        <div class="help-text">
            <div class="container-certain orange">
                {% if app.session.hasFlash('danger') %}
                    <div class="alert alert-danger" role="alert">
                        {{ app.session.getFlash('danger') | raw }}
                    </div> <br/>
                {% endif %}
                {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ app.session.getFlash('success') | raw }}
                    </div> <br/>
                {% endif %}
{#                {{ this.render('_form.twig', {'model' : model, 'formModel' : formModel}) | raw }}#}
            </div>
        </div>
    </div>

{% endblock %}