{#
    Изменить пароль
    @var \yii\web\View this
    @var \frontend\users\models\Profile model
#}

{% extends "@app/modules/office/views/layouts/main.twig" %}

{% block title %} {{ t('users', 'LEGAL_PERSON.TITLE') }} - Личный кабинет | Сдаём.ру {% endblock %}

{% block header %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Юридическое лицо',
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    {{ use('frontend/themes/basic/assets/DateTimeAsset') }}
    {{ register_date_time_asset() }}


    <div class="options-group clearfix" style="margin: auto; text-align: center">
        <div class="options" style="display: inline-block; float: none">
            <a href="{{ path(['/users/user/profile']) }}" {{ app.request.pathInfo == 'profile' ? 'class="active"' : '' }}>Редактировать
                профиль</a>
            <a href="{{ path(['/users/user/password']) }}"
               {% if app.request.pathInfo == 'password' %}class="active"{% endif %}>Изменить пароль</a>
            {% if app.user.identity.profile.legal_person %}
                <a href="{{ path(['/users/user/legal-person']) }}"
                   {% if app.request.pathInfo == 'legal-person' %}class="active"{% endif %}>Юридическое лицо</a>
            {% endif %}
        </div>
    </div>


    <p><br/></p>

    <div class="container-certain primary text" style="width:70%">

        <h3>Данные юридического лица</h3>

        {% set form = active_form_begin({
            'options' : {'class' : 'horizontal'},
            'enableClientScript': false,
            'id': 'form-legal-person'
        }) %}


        {{ form.field(model, 'name', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'formattedRegisterDate', {'inputOptions' : {'class' : 'form-control datepicker'}, 'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'INN', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'PPC', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'account', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'bank', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}


        {{ form.field(model, 'KS', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:20%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'BIK', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:20%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'BIN', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:20%">{input}</div>{error}</div>'}) | raw }}


        {{ form.field(model, 'legal_address', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}
        {{ form.field(model, 'physical_address', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}) | raw }}


        <p><br/></p>

        {{ form.field(model, 'director', {'template' : '<div class="col-l">{label}</div> <div class="col-i"><div style="width:40%">{input}</div>{error}</div>'}) | raw }}
        {{ form.field(model, 'description', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textarea() | raw }}

        <div class="form-group text-right">
            <input type="submit" value="{{ t('users', 'SAVE') }}" class="btn btn-primary"/>
        </div>
        {{ active_form_end() }}

    </div>
{% endblock content %}