{#
    Изменить пароль
    @var \yii\web\View this
    @var \frontend\users\models\Profile model
#}

{% extends "@app/modules/office/views/layouts/main.twig" %}

{% block title %} {{ t('users', 'CHANGE_PASSWORD.TITLE') }} - Личный кабинет | Сдаём.ру {% endblock %}

{% block header %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Изменить пароль',
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}


    <div class="options-group clearfix" style="margin: auto; text-align: center">
        <div class="options" style="display: inline-block; float: none">
            <a href="{{ path(['/users/user/profile']) }}" {{ app.request.pathInfo == 'profile' ? 'class="active"' : '' }}>Редактировать
                профиль</a>
            <a href="{{ path(['/users/user/password']) }}"
               {% if app.request.pathInfo == 'password' %}class="active"{% endif %}>Изменить пароль</a>
            {% if app.user.identity.profile.legal_person %}
                <a href="{{ path(['/users/user/legal-person']) }}"
                   {% if app.request.pathInfo == 'legal-person' %}class="active"{% endif %}>Юридическое лицо</a>
            {% endif %}
        </div>
    </div>


    <p><br/></p>

    <div class="container-certain primary text" style="width:70%">

        <h3>Изменить пароль</h3>

        {% set form = active_form_begin({
            'options' : {'class' : 'horizontal'},
            'enableClientScript': false,
            'id' : 'form-password',
        }) %}

        {{ form.field(model, 'oldpassword', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).passwordInput() | raw }}
        {{ form.field(model, 'password', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).passwordInput() | raw }}
        {{ form.field(model, 'repassword', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).passwordInput() | raw }}


        <div class="form-group text-right">
            <input type="submit" value="{{ t('users', 'SAVE') }}" class="btn btn-primary"/>
        </div>
        {{ active_form_end() }}

    </div>
{% endblock content %}