{#
    Профиль
    @var \yii\web\View this
    @var \frontend\users\models\Profile model
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block title %}{{ t('users', 'PROFILE.TITLE') }} - Личный кабинет | Сдаём.ру {% endblock %}

{% block bodyClass %}l-account p-account-profile{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Редактировать профиль',
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ use('common/modules/users/assets/UserAsset') }}
    {{ register_user_asset() }}

    <section class="account-profile">
        <form method="post" id="form-profile" action="{{ url(['/users/user/profile']) }}" enctype="multipart/form-data">
            <div class="profile-section">
                <div class="profile-section-header">Основные</div>
                <div class="profile-section-line">
                    <div class="form-group">
                        <label>
                            <input type="tel" name="User[phone]" class="form-control" placeholder="Телефон" value="{{ profile.user.phone }}" disabled>
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="email" class="form-control" name="User[email]" placeholder="Email" value="{{ profile.user.email }}" disabled>
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-section-header">Редактировать профиль</div>
                <div class="avatar-wrapper" style="position: relative">
                    <label class="step-photo-label file-ok">
                    {% set avatar_url = profile.avatar_url ? (avatarPath ~ '/' ~ profile.avatar_url): '/_new/images/account/img-avatar.png' %}
                    <div class="profile-avatar step-photo-frame" style="background-image: url('{{ avatar_url }}')"></div>
                    <label for="profile-avatar-file"><span>Изменить</span></label>
                    <input type="file" id="profile-avatar-file" name="Profile[image]" class="form-control" accept=".jpg, .png" data-preview-src="{{ avatar_url }}">
                    <div class="invalid-feedback" style="opacity:1"></div>
                    </label>

                </div>
                <div class="profile-section-line">
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[name]" class="form-control" placeholder="Фамилия" value="{{ profile.name }}">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[surname]" class="form-control" placeholder="Имя" value="{{ profile.surname }}">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[patronymic]" class="form-control" placeholder="Отчество">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="profile-section-line">
                    <div class="form-group form-group-100">
                        <label>
                            <textarea name="Profile[about_me]" class="form-control" placeholder="О себе">{{ profile.about_me }}</textarea>
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-section-header">Тип аккаунта</div>
                <div class="profile-section-line">
                    <div class="form-group">
                        <label>
                            <select class="custom-select" name="Profile[account_legal]">
                                <option value="0"{{ profile.account_legal == 0 ? ' selected' : ''}}>Физическое лицо</option>
                                <option value="1"{{ profile.account_legal == 1 ? ' selected' : ''}}>Юридическое лицо</option>
                            </select>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <select class="custom-select" name="Profile[user_type]">
                                {% for key, userType in profile.getUserTypeArray() %}
                                    <option value="{{ key }}"{{ profile.user_type == key ? ' selected' : ''}}>{{ userType.label }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-section-header">Дополнительная информация</div>
                <div class="profile-section-line">
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[vk]" class="form-control" value="{{ profile.vk }}" placeholder="Вконтакте">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[fb]" class="form-control" value="{{ profile.fb }}" placeholder="Facebook">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[twitter]" class="form-control" value="{{ profile.twitter }}" placeholder="Twitter">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="profile-section-line">
                    <div class="form-group">
                        <label>
                            <input type="text" name="Profile[skype]" class="form-control" value="{{ profile.skype }}" placeholder="Skype">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="email" name="Profile[email]" class="form-control" value="{{ profile.email }}" placeholder="Доп e-mail">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="tel" name="Profile[phone2]" class="form-control" value="{{ profile.phone2 }}" placeholder="Доп телефон">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="profile-section">
                <div class="profile-section-header">Безопасность</div>
                <div class="profile-section-line">
                    <div class="form-group">
                        <label>
                            <input type="password" name="Password[current]" class="form-control" placeholder="Текущий пароль">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="password" name="Password[new]" class="form-control" placeholder="Новый пароль">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="password" name="Password[repeat]" class="form-control" placeholder="Повторите пароль">
                        </label>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
            </div>
            <div class="profile-section text-center">
                <button type="submit" class="btn btn-warning">Сохранить</button>
            </div>
        </form>
    </section>

{% endblock content %}
