<footer class="footer">
    <div class="footer-info">
        <div class="container-fluid">
            <div class="footer-container about-us">
                <h6 class="footer-title">о компании</h6>
                <p class="about-us-info">
                    Планируется деловая поездка или беззаботный туристический визит в столицу?
                    Теперь для вас не проблема, где остановится в мегаполисе, не переживая о своем
                    персональном комфорте. Доска объявлений cdaem.ru поможет сэкономить на проживании
                    в отдельной уютной квартире, не переплачивая за навязчивый сервис дорогих гостиниц.
                </p>
            </div>
            <div class="footer-container footer-contacts contacts">
                <h6 class="footer-title">контакты</h6>
                <ul>
                    <li class="nav-item footer-sub-title text-uppercase">Агенство в москве</li>
                    <li class="nav-item">
                        <a class="nav-link contacts-email" href="mailto:support@cdaem.ru">
                            support@cdaem.ru
                        </a>
                    </li>
                    <li class="nav-item footer-sub-title text-uppercase">Возник вопрос?</li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(['/helpdesk/default/index']) }}">
                            <img src="/_new/images/icons/phone.svg" alt="phone">
                            Свяжитесь с нами
                        </a>
                    </li>
                    <li class="nav-item footer-sub-title text-uppercase">Мы в соц. сетях</li>
                    <li class="nav-item">
                        <ul class="social-links">
                            <li>
                                <a href="https://www.facebook.com/cdaem.ru" rel="nofollow" target="_blank" class="nav-link">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://new.vk.com/cdaemru" rel="nofollow" target="_blank" class="nav-link">
                                    <i class="fab fa-vk"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/communities/104623882749857804458" rel="nofollow" target="_blank" class="nav-link">
                                    <i class="fab fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="skype:cdaemru" rel="nofollow" target="_blank" class="nav-link">
                                    <i class="fab fa-skype"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <nav class="footer-container footer-nav">
                <h6 class="footer-title">навигация</h6>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('/pages/default/index', {'url' : 'about'}) }}">
                            О нас
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(['/helpdesk/default/help']) }}">
                            Помощь
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('/pages/default/index', {'url' : 'privacy'}) }}">
                            Права, Правообладатели
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('/pages/default/index', {'url' : 'contacts'}) }}">
                            Контактная информация
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('/site/default/index', {'rentType' : 'kvartira_na_chas'}) }}">
                            Квартира на час
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('/site/default/index', {'rentType' : 'kvartira_na_sutki'}) }}">
                            Квартира на сутки
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('/site/default/index', {'rentType' : 'na_noch'}) }}">
                            Квартира на ночь
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(['/agency/default/index']) }}">
                            Сдаем.ру
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(['/helpdesk/default/vacancy']) }}">
                            Работа
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path(['/articles/default/index']) }}">
                            Статьи
                        </a>
                    </li>
                </ul>
            </nav>
            <span class="btn btn-to-up" data-scroll-top></span>
        </div>
    </div>
    <div class="footer-inner">
        <div class="container-fluid">
            <a href="/" class="footer-logo">
                <img src="/_new/images/logo-dark.svg" alt="logo">
            </a>
            <p class="footer-copyright">
                <span class="font-weight-bold">© 2012-{{ 'now'|date('Y') }} cdaem.ru</span>
                <span>Все права защищены</span>
            </p>
        </div>
    </div>
</footer>