<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h3 class="modal-title text-center">Вход</h3>
            <button class="modal-close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <form class="form" method="post" action="{{ path(['/users/guest/login']) }}" id="form-signIn">
                    <div class="form-group">
                        <label for="signIn-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Email" name="LoginForm[username]" id="signIn-email">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group mb-0">
                        <label for="signIn-password" class="d-none"></label>
                        <input type="password" class="form-control" placeholder="Введите ваш пароль" name="LoginForm[password]" id="signIn-password">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group d-flex justify-content-between align-items-center mt-4 mb-4">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input class="" type="checkbox" name="LoginForm[rememberMe]" value="1">
                                <span class="text-smaller">Запомнить пароль</span>
                            </label>
                        </div>
                        <span data-toggle="modal" data-target="#forgotPassword" class="link-modal text-smaller">
                            Забыли пароль?
                        </span>
                    </div>
                    <div class="form-group d-flex flex-column justify-content-center align-items-center mb-0">
                        <button type="submit" class="btn btn-warning btn-special">Войти</button>
                        <span data-toggle="modal" data-target="#signUp" class="link-modal mt-3">Регистрация</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="signUp" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h3 class="modal-title text-center">Регистрация</h3>
            <button class="modal-close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <form class="form" action="{{ path(['/users/guest/signup']) }}" method="post" id="form-signup">
                    <div class="form-group">
                        <label for="signUp-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Введите ваш Email" name="User[email]" id="signUp-email">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-phone" class="d-none"></label>
                        <input type="tel" class="form-control" placeholder="+38(0__)-___-__-__" name="User[phone]" id="signUp-phone">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-password" class="d-none"></label>
                        <input type="password" class="form-control" placeholder="Введите ваш пароль" name="User[password]" id="signUp-password">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-name" class="d-none"></label>
                        <input type="text" class="form-control" placeholder="Введите ваше имя" name="Profile[name]" id="signUp-name">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label class="d-none" for="signUp-user_type"></label>
                        <select class="custom-select" name="Profile[user_type]" id="signUp-user_type">
                            <option value="" selected>Тип аккаунта</option>
                            {% for type, userType in UserHelper.getUserTypeArray() %}
                                <option value="{{ type }}"> - {{ userType.label }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="modal-extra mt-4">
                        <strong>Регистрируясь на сайте я соглашаюсь:</strong>
                        <div class="form-group">
                            <label class="form-check-label d-flex align-items-start">
                                <input type="checkbox" name="Profile[advertising]" value="1">
                                <span>
                                    Получать рекламные и информационные EMAIL рассылки от "cdaem.ru" и партнеров и не возражаю
                                    о передачи моих персональных данных третьим лицам.
                                </span>
                            </label>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="User[agreement]" value="1" id="signUp-agreement">
                                <label class="form-check-label" for="signUp-agreement">
                                    С <a href="https://cdaem.ru/page/agreement" target="_blank">пользовательским соглашением</a>, с расценками на
                                    размещение платных объявлений, а также получать СМС-оповещения при использовании определенных
                                    сервисов на этом сайте.
                                </label>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <strong>Внимание:</strong>
                        <p>
                            После регистрации Вам будет отправлено письмо с инструкциями по активации аккаунта.
                            Если письмо не пришло в течении 15 минут, Вы можете запросить
                            <a href="{{ path(['/users/guest/resend']) }}" target="_blank">код активации</a> повторно.
                        </p>
                    </div>
                    <div class="form-group d-flex flex-column justify-content-center align-items-center mt-4 mb-0">
                        <button type="submit" class="btn btn-warning btn-special">Продолжить</button>
                        <p class="mt-4">
                            <span>Есть аккаунт?</span>
                            <span data-toggle="modal" data-target="#signIn" class="link-modal">Войти</span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPassword" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <h3 class="modal-title text-center">Восстановить пароль</h3>
            <button class="modal-close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-body">
                <form class="form" method="post" action="{{ path(['/users/guest/recovery']) }}" id="form-recovery">
                    <div class="form-group">
                        <label for="forgotPassword-email" class="d-none"></label>
                        <input type="email" class="form-control" placeholder="Email" name="RecoveryForm[email]" id="forgotPassword-email">
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group d-flex flex-column justify-content-center align-items-center mb-0">
                        <button type="submit" class="btn btn-warning btn-special">Продолжить</button>
                    </div>
                    <div class="modal-extra mt-4">
                        <strong>Внимание:</strong>
                        <p>
                            На ваш почтовый адрес будет отправлено письмо с инструкциями по восстановлению пароля.
                        </p>
                        <p>
                            Если Вы вспомнили свой пароль, вы можете
                            <span data-toggle="modal" data-target="#signIn" class="link-modal">войти</span> в аккаунт.
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>