<header class="header">
    <div class="header-nav">
        <div class="header-container">
            <a class="logo" href="/">
                <img src="/_new/images/logo-light.svg" alt="logo" />
            </a>
            {{ this.render("@common/modules/site/views/_sections/_location.twig") | raw }}
        </div>
        {% if app.user.getIsGuest() == false %}
            {{ this.render("@common/modules/office/views/frontend/_sections/_header-collapse.twig", {'forHome': true}) | raw }}
        {% endif %}
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }}" href="{{ path(['/partners/office/create']) }}">
                        Добавить объявление
                    </a>
                </li>
                <li class="nav-item">
                    <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }}" href="{{ path(['/helpdesk/default/help']) }}">
                        Помощь
                    </a>
                </li>
                {% if app.user.getIsGuest() %}
                    <li class="nav-item">
                        <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }}" href="{{ path(['/users/guest/signup']) }}" data-toggle="modal" data-target="#signUp">
                            Регистрация
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% if app.user.getIsGuest() %}
            <a href="{{ path(['/users/guest/login']) }}" class="btn btn-warning btn-special btn-sign-in" data-toggle="modal" data-target="#signIn">
                Вход
            </a>
        {% endif %}
    </div>
</header>

{% if app.user.getIsGuest() %}
    {{ this.render("@common/modules/site/views/_sections/_header-modals.twig") | raw }}
{% endif %}