{% if this.context.action.id == 'index' and this.context.module.id == 'site' %}
<header class="header">
    <div class="header-nav">
        <div class="header-container">
            <a class="logo" href="/">
                <img src="/_new/images/logo-light.svg" alt="logo">
            </a>
            <button class="location">Москва</button>
        </div>
        <nav class="nav">
            <ul class="nav-list">
{% else %}
<header class="header-collapse">
    <div class="container-fluid">
        <a class="header-logo" href="/">
            <img src="/_new/images/logo-dark.svg" alt="logo">
        </a>
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-label="navbar-toggle">
            <span></span>
            <span></span>
        </button>
        <nav class="main-menu collapse" id="main-menu">
            <ul class="nav navbar-nav">
{% endif %}
                <li class="nav-item">
                    <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }} active" href="#">
                        Добавить объявление
                    </a>
                </li>
                <li class="nav-item">
                    <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }}"
                       href="/help">
                        Помощь
                    </a>
                </li>
                <li class="nav-item">
                    <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }}" href="./board.html">
                        Расширенный поиск
                    </a>
                </li>
                <li class="nav-item">
                    <a class="{{ this.context.action.id == 'index' ? 'nav-link link-with-border' : '' }}" href="./signOut.html" data-toggle="modal" data-target="#signUp">
                        Регистрация
                    </a>
                </li>
            </ul>
        {{ this.context.action.id == 'index'  and this.context.module.id == 'site' ? '</nav>' : '' }}
            <a href="./signIn.html" class="btn btn-warning btn-special btn-sign-in" data-toggle="modal" data-target="#signIn">
                Вход
            </a>
        {{ this.context.action.id == 'index' and this.context.module.id == 'site' ? '' : '</nav>' }}
    </div>
</header>


<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPassword" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h3 class="modal-title text-center">Восстановить пароль</h3>
                            <button class="modal-close" data-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <form class="form" method="post" action="" id="form-forgotPassword">
                                    <div class="form-group">
                                        <label for="forgotPassword-email" class="d-none"></label>
                                        <input type="email" class="form-control" placeholder="Email" name="email" id="forgotPassword-email">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group d-flex flex-column justify-content-center align-items-center mb-0">
                                        <button type="submit" class="btn btn-warning btn-special">Продолжить</button>
                                    </div>
                                    <div class="modal-extra mt-4">
                                        <strong>Внимание:</strong>
                                        <p>
                                            На ваш почтовый адрес будет отправлено письмо с инструкциями по восстановлению пароля.
                                        </p>
                                        <p>
                                            Если Вы вспомнили свой пароль, вы можете
                                            <span data-toggle="modal" data-target="#signIn" class="link-modal">войти</span> в аккаунт.
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="signIn" tabindex="-1" role="dialog" aria-labelledby="signIn" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h3 class="modal-title text-center">Вход</h3>
                            <button class="modal-close" data-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <form class="form" method="post" action="" id="form-signIn">
                                    <div class="form-group">
                                        <label for="signIn-email" class="d-none"></label>
                                        <input type="email" class="form-control" placeholder="Email" name="email" id="signIn-email">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label for="signIn-password" class="d-none"></label>
                                        <input type="password" class="form-control" placeholder="Введите ваш пароль" name="password" id="signIn-password">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group d-flex justify-content-between align-items-center mt-4 mb-4">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="" type="checkbox" name="passCheck">
                                                <span class="text-smaller">Запомнить пароль</span>
                                            </label>
                                        </div>
                                        <span data-toggle="modal" data-target="#forgotPassword" class="link-modal text-smaller">
                            Забыли пароль?
                        </span>
                                    </div>
                                    <div class="form-group d-flex flex-column justify-content-center align-items-center mb-0">
                                        <button type="submit" class="btn btn-warning btn-special">Войти</button>
                                        <span data-toggle="modal" data-target="#signUp" class="link-modal mt-3">Регистрация</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="signUp" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <h3 class="modal-title text-center">Регистрация</h3>
                            <button class="modal-close" data-dismiss="modal" aria-label="Close"></button>
                            <div class="modal-body">
                                <form class="form" action="" method="post" id="form-signUp">
                                    <div class="form-group">
                                        <label for="signUp-email" class="d-none"></label>
                                        <input type="email" class="form-control" placeholder="Введите ваш Email" name="email" id="signUp-email">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="signUp-phone" class="d-none"></label>
                                        <input type="tel" class="form-control" placeholder="+38(0__)-___-__-__" name="phone" id="signUp-phone">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="signUp-password" class="d-none"></label>
                                        <input type="password" class="form-control" placeholder="Введите ваш пароль" name="password" id="signUp-password">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label for="signUp-name" class="d-none"></label>
                                        <input type="text" class="form-control" placeholder="Введите ваше имя" name="name" id="signUp-name">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="d-none" for="signUp-user_type"></label>
                                        <select class="custom-select" name="user_type" id="signUp-user_type">
                                            <option value="" selected>Тип аккаунта</option>
                                            <option value="4">Агенство</option>
                                            <option value="3">Собственник</option>
                                            <option value="2">Посредник</option>
                                            <option value="1">Хочу снять</option>
                                        </select>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                    <div class="modal-extra mt-4">
                                        <strong>Регистрируясь на сайте я соглашаюсь:</strong>
                                        <p>
                                            <label class="form-check-label d-flex align-items-start">
                                                <input type="checkbox" name="advertising" value="1">
                                                <span>
                                    Получать рекламные и информационные EMAIL рассылки от "cdaem.ru" и партнеров и не возражаю
                                    о передачи моих персональных данных третьим лицам.
                                </span>
                                            </label>
                                        </p>
                                        <p>
                                            <label class="form-check-label d-flex align-items-start">
                                                <input type="checkbox" name="agreement" value="1">
                                                <span>
                                    С <a href="https://cdaem.ru/page/agreement" target="_blank">пользовательским соглашением</a>, с расценками на
                                    размещение платных объявлений, а также получать СМС-оповещения при использовании определенных
                                    сервисов на этом сайте.
                                </span>
                                            </label>
                                        </p>
                                        <strong>Внимание:</strong>
                                        <p>
                                            После регистрации Вам будет отправлено письмо с инструкциями по активации аккаунта.
                                            Если письмо не пришло в течении 15 минут, Вы можете запросить
                                            <a href="https://cdaem.ru/users/guest/resend" target="_blank">код активации</a> повторно.
                                        </p>
                                    </div>
                                    <div class="form-group d-flex flex-column justify-content-center align-items-center mt-4 mb-0">
                                        <button type="submit" class="btn btn-warning btn-special">Продолжить</button>
                                        <p class="mt-4">
                                            <span>Есть аккаунт?</span>
                                            <span data-toggle="modal" data-target="#signIn" class="link-modal">Войти</span>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
