{#
    @var \yii\web\View this
    @var \common\helpdesk\models\Helpdesk model
    @var \common\helpdesk\models\form\HelpdeskForm formModel
#}
{{ use('frontend/modules/site/widgets/Captcha') }}
{% set form = active_form_begin({
'options' : {'class' : 'horizontal'},
'id' : 'form-helpdesk-ask',
'enableClientScript' : false
}) %}

    {% if formModel.scenario == 'guest-ask' %}

        {{ form.field(formModel, 'user_name', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textInput().label('Ваше имя') | raw }}

        {{ form.field(formModel, 'email', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textInput() | raw }}

    {% endif %}

        {{ form.field(formModel, 'priority', {'options' : {'class' : 'form-group white'}, 'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).dropDownList(ArrayHelper.getColumn(model.priorityArray, 'label'), {'class' : 'form-control select-white'}) | raw }}

        {{ form.field(formModel, 'theme', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textInput() | raw }}

        {{ form.field(formModel, 'text', {'template' : '<div class="col-l">{label}</div> <div class="col-i">{input}{error}</div>'}).textarea() | raw }}

        {{ captcha_widget({'form': form, 'model': model, 'name': 'verifyCode'}) }}
        
    <div class="form-group text-right">
        <input type="submit" value="Отправить" class="btn btn-primary"/>
    </div>

{{ active_form_end() }}