{#
   Карта
   @var \yii\web\View this
#}

{% set currentRentType = searchModel.rentTypesList[app.request.get("sect")]%}
{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Карта города - ' ~ city.name ~ ' | Сдаём.ру',
        'description':  '',
        'keywords': '',
    } %}
{% endblock %}

{% block bodyClass %}l-base  p-board{% endblock %}


{% block content %}
    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_y_map_asset() }}
    {# TODO: add search functionality #}
    {{ use('common/modules/partners/assets/frontend/SearchAsset') }}
    {{ register_search_asset() }}

    {{ use('common/modules/partners/assets/frontend/RegionAsset') }}
    {{ register_region_asset() }}
    <section class="intro">
        <div class="lookup-board">
            <form action="{{ path(['/geo/default/pre-index'])}}"  method="get" id="search" class="container-fluid">
                <div class="lookup-board-form">
                    <div class="lookup-board-filter lookup-board-filter-city">
                        <span class="lookup-board-filter-text">Город</span>
                        <label>
                            <input id="search-form-autocomplete"
                                   name="city"
                                   type="text"
                                   class="form-control input-search city-drop-down-list"
                                   autocomplete="off"
                                   data-url="{{ path(['/geo/ajax/select-city']) }}"
                                   value="{{city.name}}"
                                   placeholder="Город" />
                            <input type="hidden" name="city_code" id="search-form-autocomplete-selected" value="{{ city.name_eng }}">
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-type">
                        <span class="lookup-board-filter-text">Выберите тип аренды</span>
                        <label>
                            <select class="custom-select" name="sect">
                                {% for key, rentType in searchModel.rentTypesList %}
                                    <option value="{{ key }}" {{ key == app.request.get("sect") ? 'selected="selected"' : '' }}>{{rentType}}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-rooms">
                        <span class="lookup-board-filter-text">Количество комнат</span>
                        <label>
                            <select class="custom-select" name="room">
                                {% for key, room in searchModel.roomsList %}
                                    <option value="{{ key }}" {{ loop.index == 1 ? 'selected' : '' }}>{{ room }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-adress">
                        <span class="lookup-board-filter-text">Сортировать</span>
                        <label>
                            <select class="custom-select" name="sort">
                                <option value="0">По дате</option>
                                <option value="1">От дешёвых к дорогим</option>
                                <option value="2">От дорогих к дешёвым</option>
                            </select>
                        </label>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-price">
                        <span class="lookup-board-filter-text">Цена</span>
                        <div class="lookup-board-filter-price-container">
                            <label>
                                <input
                                        name="price_start"
                                        class="form-control lookup-board-price lookup-board-price-min"
                                        type="number"
                                        value="{{ app.request.get("price_start") }}"
                                        placeholder="Цена от">
                            </label>
                            <label>
                                <input
                                        name="price_end"
                                        class="form-control lookup-board-price lookup-board-price-max"
                                        type="number"
                                        value="{{ app.request.get("price_end") }}"
                                        placeholder="Цена до">
                            </label>
                        </div>
                    </div>
                    <div class="lookup-board-filter lookup-board-filter-search">
                        <button
                                data-toggle="modal"
                                data-target="#modalSearchFilters"
                                type="button"
                                class="form-control lookup-board-search">
                            РАСШИРЕННЫЙ ПОИСК
                        </button>
                    </div>
                </div>
                <div class="lookup-board-buttons">
                    <a href="{{ path(['/partners/pre-region'])}}" class="btn btn-special button-map">
                        Доска объявлений
                    </a>
                    <button type="submit" class="btn btn-warning btn-special">НАЙТИ</button>
                </div>
                {% include "@common/modules/partners/views/frontend/default/_modal_search_filters.twig" with {} %}
            </form>
        </div>
    </section>

    <div class="container" id="map-container">
        <div id="map" data-city="{{ city.name_eng }}" data-latitude="{{ city.latitude }}" data-longitude="{{ city.longitude }}"> <div id="ymap_key_display" style="position: relative; top: 50%; left: 0; right: 0; color: black; text-align: center; font-size: 1.8em; pointer-events: none; z-index: 1; text-shadow: 0px 0px 20px; ">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Shift</div></div>
    </div>
{% endblock %}
