{#
   Карта
   @var \yii\web\View this
#}

{% set currentRentType = searchModel.rentTypesList[app.request.get("sect")]%}
{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': 'Карта города - ' ~ city.name ~ ' | Сдаём.ру',
        'description':  '',
        'keywords': '',
    } %}
{% endblock %}

{% block bodyClass %}l-base  p-board{% endblock %}


{% block content %}
    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_y_map_asset() }}
    {# TODO: add search functionality #}
    {{ use('common/modules/partners/assets/frontend/SearchAsset') }}
    {{ register_search_asset() }}

    {{ use('common/modules/partners/assets/frontend/RegionAsset') }}
    {{ register_region_asset() }}
    <section class="intro">
        <div class="lookup-board">
            <form action="{{ path(['/geo/default/pre-index'])}}"  method="get" id="search" class="container-fluid">
                {% include "@common/modules/partners/views/frontend/default/_search_form.twig" %}
                <div class="lookup-board-buttons">
                    <a href="{{ path(['/partners/pre-region'])}}" class="btn btn-special button-map">
                        Доска объявлений
                    </a>
                    <button type="submit" class="btn btn-warning btn-special">НАЙТИ</button>
                </div>
                {% include "@common/modules/partners/views/frontend/default/_modal_search_filters.twig" with {} %}
            </form>
        </div>
    </section>

    <div class="container" id="map-container">
        <div id="map" data-city="{{ city.name_eng }}" data-latitude="{{ city.latitude }}" data-longitude="{{ city.longitude }}"> <div id="ymap_key_display" style="position: relative; top: 50%; left: 15%; right: 0; color: black; float: left; text-align: center; font-size: 1.8em; pointer-events: none; z-index: 1; text-shadow: 0px 0px 20px; ">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Shift</div></div>
    </div>
{% endblock %}
