{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ app.charset }}"/>
    <noscript>
        <meta http-equiv="refresh" content="0; URL={{ path(['/site/default/no-script']) }}">
    </noscript>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE"/>

    {{ html.csrfMetaTags() | raw }}
    <title>{% block title %}{% endblock %}</title>
    {{ this.head() }}
</head>
<body class="l-account {% block bodyClass %}{% endblock %}">
{{ this.beginBody() }}

{{ use('yii/widgets/ActiveForm') }}

{{ use('common/modules/site/assets/AppAsset') }}
{{ register_app_asset() }}

{{ use('common/modules/office/assets/frontend/OfficeAsset') }}
{{ register_office_asset() }}

<div class="wrapper">
    {% block navbar %}
        {{ this.renderDynamic('return $this->render("@common/modules/office/views/frontend/_sections/_header-collapse.twig");') | raw }}
    {% endblock %}
    <main class="main-account">
        <div class="container-fluid">
            <div class="{% block contentWrapperClass %}main-account-inner{% endblock %}">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    {% block footer %}
        {{ this.render("@common/modules/site/views/_sections/_footer.twig") | raw }}
    {% endblock %}
</div>

{{ this.endBody() }}

{{ this.registerJs("$(document).ready(function(){
    $('input[name=_csrf]').val('"~this.renderDynamic('return Yii::$app->request->csrfToken;')~"');
});", constant('\\yii\\web\\View::POS_END')) }}
</body>
</html>
{{ this.endPage() }}