{#
    Просмотр апартаментов
    @var \yii\web\View this
    @var common\modules\agency\models\ApartmentAdvert model
    @var common\modules\agency\models\form\ReservationForm reservationForm
    @var common\modules\agency\models\form\DetailsHistoryForm detailsHistoryForm
#}

{% extends "@app/themes/basic/layouts/main.twig" %}

{% block title %} {{model.meta_title}} {% endblock %}

{% block header %}
    
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}

        {% set districts = model.apartment.mainDistrict.district_name %}
        {% if model.apartment.semiDistrict %}
            {% set districts = districts ~ '(' ~ model.apartment.semiDistrict.district_name ~ ')' %}
        {% endif %}


        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
            {
                'label': model.rentType.name,
            },
            {
                'label': districts,
            },
            ],
        }) }}
    </div>
{% endblock %}

{% block navbarStickyHeader %}sticky-header{% endblock %}

{% block content %}

    {{ this.registerMetaTag({'name' : 'description', 'content' : model.meta_description}) }}
    {{ this.registerMetaTag({'name' : 'keywords', 'content' : model.meta_keywords}) }}

    {{ use('common/modules/geo/assets/frontend/YMapAsset') }}
    {{ register_y_map_asset() }}

    {{ use('common/modules/agency/assets/frontend/AgencyAsset') }}
    {{ register_agency_asset() }}

 

    {{ this.render('@common/modules/agency/views/frontend/default/view/bid.twig', {
        'model' : model,
        'reservationForm' : reservationForm,
        'detailsHistoryForm' : detailsHistoryForm,
    }) | raw }}
{% endblock content %}
