{#
    Общие заявки
    @var \yii\web\View this
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block title %}{{ this.registerTitle('Общие заявки - Личный кабинет | Сдаём.ру') }}{% endblock %}

{% block header %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Общие заявки',
                },
            ],
        }) }}
    </div>
{% endblock %}


{% block content %}

    {{ use('common/modules/partners/assets/frontend/ApartmentAsset') }}
    {{ register_apartment_asset() }}

    <ul class="extra-menu">
        <li {{ app.request.pathInfo == 'office/total-bid/all' or app.request.pathInfo == 'office/total-bid' ? 'class="active"' : '' }}>
            <a href="{{ path({0 : '/partners/reservation/total-bid', 'find' : 'all'}) }}">Все заявки
                ({{ allReservationsCount }})</a></li>
        <li {{ app.request.pathInfo == 'office/total-bid/open' ? 'class="active"' : '' }}><a
                    href="{{ path({0 : '/partners/reservation/total-bid', 'find' : 'open'}) }}">Открытые
                ({{ openReservationsCount }})</a></li>
    </ul>

    {{ this.render('_total-bid-search.php', {'model' : model}) | raw }}


    {% for reservation in dataProvider.models %}

        <div class="apartment-item clearfix {% if reservation.closed != 0 %}closed{% endif %}">
            <h3>{{ reservation.fullAddress }}</h3>
            <div class="apartment-blocks">
                <div class="extra-list-list">
                    <p><span class="color-info"
                             style="font-size: 150%; font-weight: normal"><b>Заявка № {{ reservation.id }}</b></span>
                    </p>
                    <p>
                        <b>Требования:</b> <br/>
                        Комнат: <span class="color-info">{{ reservation.roomsText }}</span>,
                        Спальных мест: <span class="color-info">{{ reservation.bedsText }}</span>,
                        <br/>
                        Метро: <span class="color-info">{{ reservation.metroWalkText }}</span>,
                        Этаж: <span class="color-info">{{ reservation.floorText }}</span>
                    </p>
                    <p>
                        <b>Дополнительно:</b> <br/>
                        <span class="color-info">{{ reservation.clientsCountText }}</span> человек,
                        <span class="color-info">{{ reservation.childrenText }}</span>,
                        <span class="color-info">{{ reservation.petsText }}</span>
                        <br/>
                        Актуально до <span
                                class="color-info">{{ DateTimeHelper.toFullDateTime(reservation.date_actuality) }}</span>
                    </p>
                </div>
                <div class="adverts-list" style="width: 26%">
                    <p><span class="advert-name distinguish">{{ reservation.rentTypeText }}</span></p>
                    <div class="reservation clearfix">
                        <b>Бронь</b>
                        <div class="d">
                            с {{ DateTimeHelper.toFullDateTime(reservation.date_arrived) }} <br/>
                            по {{ DateTimeHelper.toFullDateTime(reservation.date_out) }}
                        </div>
                    </div>
                    <div class="contacts">
                        {% if reservation.isContactsOpen %}
                            {{ UserHelper.getOpenContactsBlock(reservation.user) | raw }}
                        {% else %}
                            <p class="color-closed">
                                Контакты закрыты
                                <span class="color-danger"
                                      style="font-size: 70%; font-weight: normal">(Не оплачено)</span>
                            </p>
                            {% if reservation.closed == 0 and reservation.cancel == 0 %}
                                <br/>
                                <p><span class="fast_payment_button"
                                         onclick="fast_payment_widget('{{ constant('SERVICE_CONTACTS_OPEN_FOR_TOTAL_BID', Service) }}', {'reservation_id' : {{ reservation.id }} })">Открыть контакты</span>
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="extra-list va text-left" style="width: 27%">
                    {% if reservation.more_info %}
                        <span>&nbsp;</span>
                        <p>
                            <b>Пожелания:</b> <br/>
                            {{ reservation.more_info }}
                        </p>
                    {% else %}
                        <div class="alert alert-info">
                            Нет пожеланий
                        </div>
                    {% endif %}
                    <p>
                        <b>Бюджет клиента:</b> <br/>
                        {{ reservation.budgetString | raw }}
                    </p>
                </div>

                <div class="extra-list text-center va" style="width: 17%">
                    {% if reservation.closed %}
                        <p>Закрыта</p>
                    {% endif %}
                    {% if reservation.cancel %}
                        <p>{{ reservation.cancelText }}</p>
                    {% endif %}
                    <p class="accent-time">{{ this.renderDynamic('return \\nepster\\basis\\helpers\\DateTimeHelper::diffAgoPeriodRound("'~reservation.date_create~'");') | raw }} </p>
                    <br/>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info mt-4">
            Нет заявок
        </div>
    {% endfor %}

    {{ use ('yii/widgets/LinkPager') }}
    {{ link_pager_widget({'pagination' : dataProvider.pagination}) }}

{% endblock content %}