{#
    Отправить заявку на бронь всему сайту
    @var \yii\web\View this
    @var \common\modules\partners\models\models\ReservationForm reservationsForm
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': ' Быстрая аренда | Сдаём.ру',
        'description':  '',
        'keywords': '',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-fastrent{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Доска объявлений',
                    'url': ['/partners/default/index'],
                    'template': '<span>{link}</span>\n'
                },
                {
                    'label': 'Быстро снять',
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/partners/assets/frontend/ReservationAsset') }}
    {{ register_reservation_asset() }}

    {{ use('common/modules/partners/assets/frontend/OfficeAsset') }} {#Нужен для ввода города и адреса#}
    {{ register_office_asset() }}

    {{ use('frontend/themes/basic/assets/DateTimeAsset') }}
    {{ register_date_time_asset() }}

    {{ use('common/modules/site/widgets/Captcha') }}

    {% if app.session.hasFlash('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ app.session.getFlash('danger') | raw }}
        </div> <br/>
    {% endif %}

    {% if app.session.hasFlash('success') %}
        <div class="container-fluid">
            <div class="alert alert-success" role="alert">
                {{ app.session.getFlash('success') | raw }}
            </div> <br/>

            Ваша заявка будет доступна всем владельцам апартаментов на сайте {{ app.params.siteDomain }}. После того,
            как кто-нибудь откроет ваши контакты, в
            <a href="{{ path(['/partners/reservation/total-bid']) }}" target="_blank">личном кабинете</a> вы увидите,
            что заявка закрыта.
            <br/><br/><br/>
        </div>
    {% endif %}

    <section class="rent">
        <div class="container-fluid">
            <h2 class="section-title">Быстро снять</h2>
            <p class="rent-text">
                Заполнение заявки "Быстро снять" совершенно бесплатно. После того, как Вы заполните все данные формы,
                Ваша заявка будет доступна всем агентам  и собственникам на сайте. После чего, когда кто-нибудь откроет
                Ваши контакты, в личном кабинете вы сможете увидеть это. Детальная инструкция будет отправлена на Ваш
                почтовый адрес.
            </p>

            {% include('@common/modules/partners/views/frontend/reservation/reservation-form.twig') %}
        </div>
    </section>

{% endblock content %}
