{#
    Отправить заявку на бронь всему сайту
    @var \yii\web\View this
    @var \common\modules\partners\models\models\ReservationForm reservationsForm
#}

{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block seo %}
    {% include '@common/modules/site/views/_modules/_seo.twig' with {
        'title': ' Быстрая аренда | Сдаём.ру',
        'description':  '',
        'keywords': '',
    } %}
{% endblock %}

{% block bodyClass %}l-base p-fastrent{% endblock %}

{% block breadcrumbs %}
    <div class="container-fluid">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'tag':  'div',
            'options': {
                'class': 'breadcrumbs'
            },
            'itemTemplate' : "{link}\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Доска объявлений',
                    'url': ['/partners/default/index'],
                    'template': '<span>{link}</span>\n'
                },
                {
                    'label': 'Быстро снять',
                    'template': '<span>{link}</span>\n'
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    {{ use('common/modules/partners/assets/frontend/ReservationAsset') }}
    {{ register_reservation_asset() }}

    {{ use('common/modules/partners/assets/frontend/OfficeAsset') }} {#Нужен для ввода города и адреса#}
    {{ register_office_asset() }}

    {{ use('frontend/themes/basic/assets/DateTimeAsset') }}
    {{ register_date_time_asset() }}

    {{ use('common/modules/site/widgets/Captcha') }}

    {% if app.session.hasFlash('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ app.session.getFlash('danger') | raw }}
        </div> <br/>
    {% endif %}


    {% if app.session.hasFlash('success') %}
        <div class="alert alert-success" role="alert">
            {{ app.session.getFlash('success') | raw }}
        </div> <br/>

        Ваша заявка будет доступна всем владельцам апартаментов на сайте {{ app.params.siteDomain }}. После того,
        как кто-нибудь откроет ваши контакты, в
        <a href="{{ path(['/partners/reservation/total-bid']) }}" target="_blank">личном кабинете</a> вы увидите,
        что заявка закрыта.
        <br/>
    {% endif %}

    <section class="rent">
        <div class="container-fluid">
            <h2 class="section-title">Быстро снять</h2>
            <p class="rent-text">
                Заполнение заявки "Быстро снять" совершенно бесплатно. После того, как Вы заполните все данные формы,
                Ваша заявка будет доступна всем агентам  и собственникам на сайте. После чего, когда кто-нибудь откроет
                Ваши контакты, в личном кабинете вы сможете увидеть это. Детальная инструкция будет отправлена на Ваш
                почтовый адрес.
            </p>
{#
            <div class="steps step-1 active">
                <div class="rent-form-container">
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Место аренды</h3>
                        <label class="rent-city">
                            <select class="custom-select">
                                <option value="" selected>Москва</option>
                                <option value="1">Санкт-Петербург</option>
                                <option value="2">Воронеж</option>
                                <option value="3">Москва</option>
                                <option value="4">Санкт-Петербург</option>
                                <option value="5">Воронеж</option>
                                <option value="6">Москва</option>
                            </select>
                        </label>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Метро</h3>
                        <label class="rent-metro">
                            <select class="custom-select">
                                <option value="" selected>Юго-западная</option>
                                <option value="1">Метро</option>
                                <option value="2">Юго-западная</option>
                                <option value="3">Метро</option>
                                <option value="4">Юго-западная</option>
                                <option value="5">Метро</option>
                                <option value="6">Юго-западная</option>
                            </select>
                        </label>
                    </div>
                    <div class="rent-content rent-content-big">
                        <h3 class="rent-subtitle">Адрес</h3>
                        <label class="rent-adress">
                            <input type="text" class="input-field" placeholder="Адрес">
                        </label>
                    </div>
                </div>
            </div>
            <div class="steps step-2">
                <div class="rent-form-container">
                    <div class="rent-content rent-content-big">
                        <h3 class="rent-subtitle">Тип аренды</h3>
                        <label class="rent-type">
                            <select class="custom-select">
                                <option value="" selected>Тип аренды</option>
                                <option value="1">Тип аренды</option>
                                <option value="2">Тип аренды</option>
                            </select>
                        </label>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Дата заезда</h3>
                        <div class="search-form-group" data-daterangepicker>
                            <div class="search-form-filter search-form-filter-calendar daterangepicker-from">
                                    <span class="daterangepicker-text">
                                        <span class="daterangepicker-month">2 января</span>,
                                        <span class="daterangepicker-day">суббота</span>
                                    </span>
                                <input type="hidden" value="">
                            </div>
                            <div class="search-form-filter search-form-filter-calendar daterangepicker-to">
                                    <span class="daterangepicker-text">
                                        <span class="daterangepicker-month">25 января</span>,
                                        <span class="daterangepicker-day">суббота</span>
                                    </span>
                                <input type="hidden" value="">
                            </div>
                        </div>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Время заезда</h3>
                        <div class="rent-two-container">
                            <label>
                                <input type="text" class="rent-time input-field" placeholder="Время" readonly data-timepicker>
                            </label>
                            <label>
                                <input type="text" class="rent-time input-field" placeholder="Время" readonly data-timepicker>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="steps step-3">
                <div class="rent-form-container">
                    <div class="rent-content rent-content-big">
                        <h3 class="rent-subtitle">Цена</h3>
                        <div class="rent-two-container">
                            <label>
                                <input type="number" class="rent-price input-field" placeholder="От">
                            </label>
                            <label>
                                <input type="number" class="rent-price input-field" placeholder="До">
                            </label>
                        </div>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Этаж</h3>
                        <label>
                            <select class="custom-select">
                                <option value="" selected>8-9</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                                <option value="5">6</option>
                                <option value="6">7</option>
                            </select>
                        </label>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Количество комнат</h3>
                        <label>
                            <select class="custom-select">
                                <option value="" selected>1-4ком</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                                <option value="4">5</option>
                                <option value="5">6+</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="steps step-4">
                <div class="rent-form-container">
                    <div class="rent-content rent-content-big">
                        <h3 class="rent-subtitle">Спальных мест</h3>
                        <label>
                            <select class="custom-select">
                                <option value="" selected>1-15 спальных мест</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6+</option>
                            </select>
                        </label>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Расстояния от метро</h3>
                        <label>
                            <select class="custom-select">
                                <option value="" selected>300 метров</option>
                                <option value="1">Неважно</option>
                                <option value="2">Пешком</option>
                                <option value="3">Транспортом</option>
                            </select>
                        </label>
                    </div>
                    <div class="rent-content">
                        <h3 class="rent-subtitle">Со мной:</h3>
                        <label>
                            <select class="custom-select">
                                <option value="" selected>Кол-во человек</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6+</option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
#}

            <form method="post" action="{{ path('/reservation') }}" id="form-reservation" {#enctype="multipart/form-data"#}>
                <div class="section">
                    <div class="section-head section-head-between">
                        <h2 class="section-header">Место аренды</h2>
                    </div>
                    <div class="step">
                        <div class="step-line" style="display: flex;justify-content: flex-start;"> {#todo адрес не вытягивается на полную ширину поэтому тут этот стиль#}
                            <div class="step-column-33">
                                <div class="form-group">
                                    <input type="text" id="city" name="ReservationForm[city_name]" placeholder="Введите город *" class="form-control" autocomplete="off" value="">
                                    <div class="invalid-feedback"></div>
                                    <input type="hidden" id="region" name="ReservationForm[region_name]" value="">
                                    <input type="hidden" id="city_kladr" name="ReservationForm[city_kladr]" value="">
                                </div>
                            </div>
                            <div class="step-column-66" id="address-wrapper">
                                <div class="form-group">
                                    <input type="text" id="address" name="ReservationForm[address]" class="form-control" placeholder="Введите адрес *" autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false" value="">
                                    <div class="invalid-feedback"></div>
                                    <input type="hidden" id="latitude" name="ReservationForm[latitude]" value="">
                                    <input type="hidden" id="longitude" name="ReservationForm[longitude]" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="section-head section-head-between">
                        <h2 class="section-header">Укажите дату брони</h2>
                    </div>
                    <div class="step">
                        <div class="step-line">
                            <div class="step-column-66">
                                <div class="search-form-group" data-daterangepicker>
                                    <div class="search-form-filter search-form-filter-calendar daterangepicker-from">
                                        <span class="daterangepicker-text">
                                            <span class="daterangepicker-month">Дата заезда *</span><span class="daterangepicker-day"></span>
                                        </span>
                                        <div class="form-group">
                                            <input name="ReservationForm[arrived_date]" class="date form-control" type="hidden" value="">
                                            <input name="ReservationForm[arrived_time]" class="time" type="hidden" value="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                    <div class="search-form-filter search-form-filter-calendar daterangepicker-to">
                                        <span class="daterangepicker-text">
                                            <span class="daterangepicker-month">Дата выезда *</span><span class="daterangepicker-day"></span>
                                        </span>
                                        <div class="form-group">
                                            <input name="ReservationForm[out_date]" class="date form-control" type="hidden" value="">
                                            <input name="ReservationForm[out_time]" class="time" type="hidden" value="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="step-column-33">
                                <div class="form-group">
                                    <select name="ReservationForm[actuality_duration]" class="custom-select form-control">
                                        <option value="0">Заявка актуальна *</option>
                                        <option value="1">15</option>
                                        <option value="2">30</option>
                                        <option value="3">До даты выезда</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="section-head section-head-between">
                        <h2 class="section-header">Со мной</h2>
                    </div>

                    <div class="step">
                        <div class="step-line">
                            <div class="step-column-33">
                                <div class="form-group">
                                    <select name="ReservationForm[pets]" class="custom-select">
                                        <option value="-1">Животные *</option>
                                        <option value="1">Без животных</option>
                                        <option value="2">С животными</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="step-column-33">
                                <div class="form-group">
                                    <select name="ReservationForm[children]" class="custom-select">
                                        <option value="-1">Дети *</option>
                                        <option value="1">Без детей</option>
                                        <option value="2">С детьми</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="step-column-33">
                                <div class="form-group">
                                    <select name="ReservationForm[clients_count]" class="custom-select">
                                        <option value="-1">Количество человек *</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6 и более</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <div class="section-head section-head-between">
                        <h2 class="section-header">Ваши предпочтения</h2>
                    </div>
                    <div class="step">
                        <div class="step-line">
                            <div class="step-column-33">
                                <div>
                                    <select name="ReservationForm[rent_type]" id="rent_type" class="custom-select form-control">
                                        <option value="0">Тип аренды *</option>
                                        {% for value, name in rentTypes %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="step-column-33">
                                <div>
                                    <select name="ReservationForm[floor]" id="floor" class="custom-select">
                                        <option value="">Этаж *</option>
                                        <option value="0">Любой этаж</option>
                                        {% for value, name in floor %}
                                            <option value="{{ value }}">{{ name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="step-column-33">
                                <div class="price-range">
{#                                    <div>#}
                                        <input type="number" id="price_from" name="ReservationForm[money_from]" placeholder="от 3000₽ *" class="form-control price-range-input" autocomplete="off" value="">
                                        <div class="invalid-feedback"></div>
{#                                    </div>#}
{#                                    <div>#}
                                        <input type="number" id="price_to" name="ReservationForm[money_to]" placeholder="до 5000₽ *" class="form-control price-range-input" autocomplete="off" value="">
                                        <div class="invalid-feedback"></div>
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <div class="step-line">
                            <div class="step-column-33">
                                <select name="ReservationForm[rooms]" id="rooms" class="custom-select">
                                    <option value="-1">Количество комнат *</option>
                                    {% for id, value in rooms %}
                                        <option value="{{ id }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="step-column-33">
                                <select name="ReservationForm[beds]" id="beds" class="custom-select">
                                    <option value="-1">Количество спальных мест *</option>
                                    {% for id, value in sleepingPlaces %}
                                        <option value="{{ id }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="step-column-33">
                                <select name="ReservationForm[metro_walk]" id="metro_walk" class="custom-select">
                                    <option value="">Расстояние до метро</option>
                                    {% for id, value in metroWalkList %}
                                        <option value="{{ id }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if not app.user.id %}
                    <div class="section">
                        <div class="section-head section-head-between">
                            <h2 class="section-header">Быстрая регистрация</h2>
                        </div>
                        <div class="step">
                            <div class="step-line">
                                <div class="step-column-33">
                                    <input type="text" name="AdvertForm[price][]" class="step-input form-control" placeholder="Почта *">
                                    <div class="invalid-feedback" style="opacity:1"></div>
                                </div>
                                <div class="step-column-33">
                                    <input type="text" name="AdvertForm[price][]" class="step-input form-control" placeholder="Телефон *">
                                    <div class="invalid-feedback" style="opacity:1"></div>
                                </div>
                                <div class="step-column-33">
                                    <input type="text" name="AdvertForm[price][]" class="step-input form-control" placeholder="Пароль *">
                                    <div class="invalid-feedback" style="opacity:1"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="section">
                    <div class="section-head section-head-between">
                        <h2 class="section-header">Пожелания</h2>
                    </div>
                    <div class="step">
                        <div class="step-column-100">
                            <div class="form-group">
                                <textarea name="ReservationForm[more_info]" class="step-textarea" placeholder="Введите пожелания"></textarea>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rent-buttons">
    {#
                    <button class="btn btn-special button-back btn-fast-back d-none">назад</button>
                    <button type="button" class="btn btn-warning btn-special btn-fast-next">Далее</button>
                    <button type="button" class="btn btn-warning btn-special btn-fast-submit d-none">отправить</button>
    #}
                    <button type="submit" class="btn btn-warning btn-special btn-fast-submite">Отправить</button>
                </div>
            </form>
        </div>
    </section>

{% endblock content %}
