{% if not isFromAraptmentPage%}
{{ html.beginForm(['/reservation'], 'post', {'id': 'form-reservation'}) |raw }}
{% else %}
{{ html.beginForm(['/partners/reservation/advert-reservation?advert_id=' ~ advert_id], 'post', {'id': 'form-reservation'}) |raw }}
{% endif %}

{% if not isFromAraptmentPage%}
<div class="section">
    <div class="section-head section-head-between">
        <h2 class="section-header">Место аренды</h2>
    </div>
    <div class="step">
        <div class="step-line" style="display: flex;justify-content: space-between;"> {#todo адрес не вытягивается на полную ширину поэтому тут этот стиль#}
            <div class="step-column-33">
                <div class="form-group">
                    <input type="text" id="city" name="ReservationForm[city_name]" placeholder="Введите город *" class="form-control" autocomplete="off" value="">
                    <div class="invalid-feedback"></div>
                    <input type="hidden" id="region" name="ReservationForm[region_name]" value="">
                    <input type="hidden" id="city_kladr" name="ReservationForm[city_kladr]" value="">
                </div>
            </div>
            <div class="step-column-66" id="address-wrapper" style="width: 66.1%">
                <div class="form-group">
                    <input type="text" id="address" name="ReservationForm[address]" class="form-control" placeholder="Введите адрес *" autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false" value="">
                    <div class="invalid-feedback"></div>
                    <input type="hidden" id="latitude" name="ReservationForm[latitude]" value="">
                    <input type="hidden" id="longitude" name="ReservationForm[longitude]" value="">
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="section">
    <div class="section-head section-head-between">
        <h2 class="section-header">Укажите дату брони</h2>
    </div>
    <div class="step">
        <div class="step-line">
            <div class="step-column-66">
                <div class="search-form-group" data-daterangepicker>
                    <div class="search-form-filter search-form-filter-calendar daterangepicker-from">
                                        <span class="daterangepicker-text">
                                            <span class="daterangepicker-month">Дата заезда *</span><span class="daterangepicker-day"></span>
                                        </span>
                        <div class="form-group">
                            <input name="ReservationForm[arrived_date]" class="date form-control" type="hidden" value="">
                            <input name="ReservationForm[arrived_time]" class="time" type="hidden" value="">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="search-form-filter search-form-filter-calendar daterangepicker-to">
                                        <span class="daterangepicker-text">
                                            <span class="daterangepicker-month">Дата выезда *</span><span class="daterangepicker-day"></span>
                                        </span>
                        <div class="form-group">
                            <input name="ReservationForm[out_date]" class="date form-control" type="hidden" value="">
                            <input name="ReservationForm[out_time]" class="time" type="hidden" value="">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-column-33">
                <div class="form-group">
                    <select name="ReservationForm[actuality_duration]" class="custom-select form-control">
                        <option value="0">Заявка актуальна *</option>
                        <option value="1">15 минут</option>
                        <option value="2">30 минут</option>
                        <option value="3">60 минут</option>
                        <option value="4">24 часа</option>
                        <option value="5">До даты заезда</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-head section-head-between">
        <h2 class="section-header">Со мной</h2>
    </div>

    <div class="step">
        <div class="step-line">
            <div class="step-column-33">
                <div class="form-group">
                    <select name="ReservationForm[pets]" class="custom-select">
                        <option value="-1">Животные *</option>
                        <option value="0">Без животных</option>
                        <option value="1">С животными</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="step-column-33">
                <div class="form-group">
                    <select name="ReservationForm[children]" class="custom-select">
                        <option value="-1">Дети *</option>
                        <option value="0">Без детей</option>
                        <option value="1">С детьми</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="step-column-33">
                <div class="form-group">
                    <select name="ReservationForm[clients_count]" class="custom-select">
                        <option value="-1">Количество человек *</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6 и более</option>
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if not isFromAraptmentPage%}
<div class="section">
    <div class="section-head section-head-between">
        <h2 class="section-header">Ваши предпочтения</h2>
    </div>
    <div class="step">
        <div class="step-line">
            <div class="step-column-33">
                <div>
                    <select name="ReservationForm[rent_type]" id="rent_type" class="custom-select form-control">
                        <option value="0">Тип аренды *</option>
                        {% for value, name in rentTypes %}
                            <option value="{{ value }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="step-column-33">
                <div>
                    <select name="ReservationForm[floor]" id="floor" class="custom-select">
                        <option value="">Этаж *</option>
                        <option value="0">Любой этаж</option>
                        {% for value, name in floor %}
                            <option value="{{ value }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="step-column-33">
                <div class="price-range">
                    <input type="number" id="money_from" name="ReservationForm[money_from]" placeholder="от 3000₽ *" class="form-control price-range-input" autocomplete="off" value="">
                    <div class="invalid-feedback"></div>
                    <input type="number" id="money_to" name="ReservationForm[money_to]" placeholder="до 5000₽ *" class="form-control price-range-input" autocomplete="off" value="">
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
        <div class="step-line">
            <div class="step-column-33">
                <select name="ReservationForm[rooms]" id="rooms" class="custom-select">
                    <option value="-1">Количество комнат *</option>
                    {% for id, value in rooms %}
                        <option value="{{ id }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback"></div>
            </div>
            <div class="step-column-33">
                <select name="ReservationForm[beds]" id="beds" class="custom-select">
                    <option value="0">Количество спальных мест *</option>
                    {% for id, value in sleepingPlaces %}
                        <option value="{{ id }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback"></div>
            </div>
            <div class="step-column-33">
                <select name="ReservationForm[metro_walk]" id="metro_walk" class="custom-select">
                    <option value="">Расстояние до метро</option>
                    {% for id, value in metroWalkList %}
                        <option value="{{ id }}">{{ value }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if not app.user.id %}
    <div class="section">
        <div class="section-head section-head-between">
            <h2 class="section-header">Быстрая регистрация</h2>
        </div>
        <div class="step">
            <div class="step-line">
                <div class="step-column-33">
                    <div class="form-group">
                        <input type="text" name="ReservationForm[email]" class="step-input form-control" placeholder="Почта *">
                        <div class="invalid-feedback" style="opacity:1"></div>
                    </div>
                </div>
                <div class="step-column-33">
                    <div class="form-group">
                        <input type="tel" name="ReservationForm[phone]" class="step-input form-control" placeholder="Телефон *">
                        <div class="invalid-feedback" style="opacity:1"></div>
                    </div>
                </div>
                <div class="step-column-33">
                    <div class="form-group">
                        <input type="password" name="ReservationForm[password]" class="step-input form-control" placeholder="Пароль *">
                        <div class="invalid-feedback" style="opacity:1"></div>
                    </div>
                </div>
            </div>
            <div class="step-line">
                <div class="step-column-100" style="margin-left: 1.25rem;">
                    <input type="checkbox" class="form-check-input" name="ReservationForm[agreement]" value="1"
                           id="signUp-agreement">
                    <label class="form-check-label" for="signUp-agreement">
                        Регистрируясь на сайте, Вы соглашаетесь с <a href="https://cdaem.ru/page/agreement" target="_blank">пользовательским
                            соглашением</a>, с расценками на размещение платных объявлений, а также получать СМС-оповещения при использовании
                        определенных
                        сервисов на этом сайте.
                    </label>
                    <div class="invalid-feedback"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="section">
    <div class="section-head section-head-between">
        <h2 class="section-header">Пожелания</h2>
    </div>
    <div class="step">
        <div class="step-column-100">
            <div class="form-group">
                <textarea name="ReservationForm[more_info]" class="step-textarea" placeholder="Введите пожелания"></textarea>
                <div class="invalid-feedback"></div>
            </div>
        </div>
    </div>
</div>

{% if not isFromAraptmentPage%}
<div class="rent-buttons">
    <button type="submit" class="btn btn-warning btn-special btn-fast-submite">Отправить</button>
</div>
{% endif %}
{{ html.endForm() |raw }}
