{#
    Просмотр апартаментов
    @var \yii\web\View this
    @var common\modules\agency\models\ApartmentAdvert model
    @var common\modules\agency\models\form\ReservationForm reservationForm
    @var common\modules\agency\models\form\DetailsHistoryForm detailsHistoryForm
#}
<div class="container-fluid">
    <div id="map" style="width: 100%; height: 429px"></div>
</div>
<div class="container-fluid">
    <div id="map" style="width: 100%; height: 429px">
        <div id="ymap_key_display" style="position: relative; top: 0; left: 0; right: 0; color: black; text-align: center; font-size: 1.8em; pointer-events: none; z-index: 1; text-shadow: 0px 0px 20px; float: left;">Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Shift</div>
    </div>
</div>

<section class="advert">
    <div class="container-fluid">
        <div class="advert-info">
            <h2 class="advert-title">
                {{ model.apartment.address }}{{ model.apartment.apartment ? ', кв.'~model.apartment.apartment }}
            </h2>
            <div class="advert-cost">
                {% set rentTypes = model.apartment.getRentTypesPrices() %}
                <div class="advert-cost-info" {% if(rentTypes['Квартира на час'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/hour.svg" alt="hour">
                    </object>
                    <p>Час: <span>{{ rentTypes['Квартира на час'] }}</span></p>
                </div>
                <div class="advert-cost-info" {% if(rentTypes['Квартира на ночь'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/night.svg" alt="night">
                    </object>
                    <p>Ночь: <span>{{ rentTypes['Квартира на ночь'] }}</span></p>
                </div>
                <div class="advert-cost-info" {% if(rentTypes['Квартира на сутки'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/day.svg" alt="day">
                    </object>
                    <p>Сутки: <span>{{ rentTypes['Квартира на сутки'] }}</span></p>
                </div>
                <div class="advert-cost-info" {% if(rentTypes['Квартира на месяц'] == '-') %}style="display: none"{% endif %}>
                    <object class="advert-icon">
                        <img src="/_new/images/icons/apartment/months.svg" alt="months">
                    </object>
                    <p>Месяц: <span>{{ rentTypes['Квартира на месяц'] }}</span></p>
                </div>
            </div>
            <div class="advert-list">
                <ul>
                    <li><b>Адрес:</b>
                        {{ model.apartment.city.name }}, {{ model.apartment.address }}{{ model.apartment.apartment ? ', кв.'~model.apartment.apartment }}
                    </li>

                    {% if (model.apartment.metroStations) %}

                        <li><b>Метро:</b>
                            {% for metroStation in model.apartment.metroStations %}
                                {{ metroStation.metro.name }}{% if loop.last == false %},{% endif %}
                            {% endfor %}
                        </li>
                        <li><b>Удаленность от метро:</b> {{ model.apartment.metroWalkText }}</li>

                    {% endif %}

                    <li><b>Этаж:</b> {{ model.apartment.floor }}</li>
                    <li><b>Общая площадь:</b> {{ model.apartment.total_area }} м2</li>
                    <li><b>Комнат:</b> {{ model.apartment.total_rooms }}</li>
                    <li><b>Спальных мест:</b> {{ model.apartment.beds }}</li>
                    <li><b>Ремонт:</b> {{ model.apartment.remontName }}</li>

                    <li class="repairs-icons">
                        {% if model.apartment.getFacilitiesByType() %}
                            <div class="adv-card-services">
                                {% for facility in model.apartment.getFacilitiesByType(false) %}
                                    <span class="adv-card-service-icon">
                            <img src="/_new/images/account/services/{{ facility.alias }}.svg" title="{{ facility.name }}" alt="{{ facility.name }}" />
                        </span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </li>

                    <li>
                        <b>Информация от владельца:</b>
                        <div>
                            {% if model.apartment.description %}
                                {{ model.apartment.description }}
                            {% else %}
                                Дополнительная информация не указана.
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="advert-info">
            <div class="advert-author">

                {% include('@common/modules/partners/views/frontend/default/view/owner.twig') %}

            </div>

            {% if model.apartment.orderedImages|length > 0 %}
                <div class="advert-slider-for">
                    {{ use('frontend/themes/basic/assets/LightBoxAsset') }}
                    {{ register_light_box_asset() }}

                    {% for image in model.apartment.orderedImages %}

                        <div class="advert-slider-for-item">
                            <a href="{{ image.reviewSrc }}" data-lightbox="data-lightbox" >
                                <img src="{{ image.reviewSrc }}">
                            </a>
                        </div>

                    {% endfor %}

                </div>
                <div class="advert-slider-nav">

                    {% for image in model.apartment.orderedImages %}

                        <div class="advert-slider-for-nav">
                            <img src="{{ image.previewSrc }}" alt="slider-image">
                        </div>

                    {% endfor %}

                </div>
            {% endif %}

            <div class="advert-button">
                {#                {% if not model.apartment.open_contacts %}#}
                <button class="btn btn-warning" data-toggle="modal" data-target="#modalBook">Забронировать</button>
                {#                {% endif %}#}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">Написать</button>
                <button class="btn btn-warning" data-toggle="modal" data-target="#complainModal" >Пожаловаться</button>
            </div>
        </div>
    </div>
</section>

<!-- Modal Book -->
<div class="modal modal-book fade" id="modalBook" tabindex="-1" role="dialog" aria-labelledby="modalBookLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="">
        <div class="modal-content">
            <div class="modal-header modal-top">
                <h4 class="modal-title modal-header-title" id="modalBookLabel">Забронировать</h4>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                {% set isFromAraptmentPage = true %}
                {% set advert_id = model.advert_id %}
                {% include('@common/modules/partners/views/frontend/reservation/reservation-form.twig') %}
            </div>
            <div class="modal-footer modal-bottom">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-warning btn-special book-button" id="reservation-submit">Забронировать</button>
            </div>
        </div>
    </div>
</div>


{#
    Заявка на бронь
{{ this.render('@common/modules/agency/views/frontend/default/view/bid.twig', {
    'reservationForm' : reservationForm,
    'detailsHistoryForm' : detailsHistoryForm,
}) | raw }}
#}

